node-red-json/flow04-interact-with-artwork.json
[
    {
        "id": "adcc113084da2426",
        "type": "tab",
        "label": "Interact with artworks",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43c0ca255d8e6bd9",
        "type": "group",
        "z": "adcc113084da2426",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5de681e515905b48",
            "cd0e71da20d742a2"
        ],
        "x": 354,
        "y": 259,
        "w": 212,
        "h": 122
    },
    {
        "id": "06634dbe2a26b1bb",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Tags",
        "url": "/tags",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "c421ad9a62f75736"
            ]
        ]
    },
    {
        "id": "4ac55a2cc4e015f1",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "c421ad9a62f75736",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 1",
        "func": "// GET TAGS DATA FROM DB\n\nlet sampleData = [\n      { \"Id\": \"5d894b65-9db2-4cc6-a7bc-b2fb04f6cba7\", \"TagName\": \"hzxytko\" },\n      { \"Id\": \"c14043e9-b73a-4b7f-91d8-23f0ea1a0cf1\", \"TagName\": \"esibyej\" },\n      { \"Id\": \"e9a686c4-8e06-4b8a-93f9-a556badc839f\", \"TagName\": \"uyzpzyt\" },\n      { \"Id\": \"a4e04416-dd7e-4e68-bb8b-9384cf9b6630\", \"TagName\": \"idunmjt\" },\n      { \"Id\": \"06603d75-bc79-4b63-8996-5a823b17b849\", \"TagName\": \"pxlybwh\" },\n      { \"Id\": \"451a13d8-bd2c-4c3a-9cb0-acdb1320a610\", \"TagName\": \"ayzlyze\" },\n      { \"Id\": \"b470f94d-6cf4-49d9-bf56-196171cde03f\", \"TagName\": \"ebvaotw\" },\n      { \"Id\": \"e433d59e-2e2c-4f86-bec9-d5d78b3fef92\", \"TagName\": \"dywdcyb\" },\n      { \"Id\": \"e4f06cc5-6109-4132-a882-ffaac38cb4a4\", \"TagName\": \"tpqfgig\" },\n      { \"Id\": \"5454baf0-547a-4d49-96be-89aef3f03be8\", \"TagName\": \"rbhumxa\" }\n    ]\n\nmsg.payload = sampleData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 40,
        "wires": [
            [
                "4ac55a2cc4e015f1"
            ]
        ]
    },
    {
        "id": "899b5d962317c3a8",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Categories",
        "url": "/categories",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "0f88db74159d7f50"
            ]
        ]
    },
    {
        "id": "2b8e12bc426b852f",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "0f88db74159d7f50",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 2",
        "func": "// GET TAGS DATA FROM DB\n\nlet sampleData = [\n  {\n    \"categoryName\": \"Truyện tranh\",\n    \"id\": \"1\"\n  },\n  {\n    \"categoryName\": \"Minh họa\",\n    \"id\": \"2\"\n  },\n  {\n    \"categoryName\": \"Kiến trúc\",\n    \"id\": \"3\"\n  },\n  {\n    \"categoryName\": \"Phác thảo\",\n    \"id\": \"4\"\n  },\n  {\n    \"categoryName\": \"Bích họa\",\n    \"id\": \"5\"\n  },\n  {\n    \"categoryName\": \"Thiết kế game\",\n    \"id\": \"6\"\n  }\n]\n\nmsg.payload = sampleData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "2b8e12bc426b852f"
            ]
        ]
    },
    {
        "id": "2d6af10c3c540573",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "853dfef83f9364e0",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Artworks",
        "url": "/artworks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "322d5482a01b2371"
            ]
        ]
    },
    {
        "id": "322d5482a01b2371",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 3",
        "func": "// GET TAGS DATA FROM DB\n\n// let sampleData = [{\"Id\":\"e0b1bb5b-4616-4815-90ac-b2fdeb754221\",\"Title\":\"Chicago 8, The\",\"CreatedBy\":\"678be986-1108-49d2-88ef-4c003209b16e\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/309x671.png/cc0000/ffffff\",\"http://dummyimage.com/498x1043.png/dddddd/000000\",\"http://dummyimage.com/277x1030.png/dddddd/000000\"],\"Description\":\"Phasellus in felis. Donec semper sapien a libero. Nam dui.\\n\\nProin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\",\"Privacy\":\"Private\",\"Tags\":[{\"Id\":\"2b54c7d8-79db-485b-93da-2deee2f305ee\",\"TagName\":\"ppvidfw\"},{\"Id\":\"ad28536b-752e-4623-ba8a-fc3c7813d313\",\"TagName\":\"gjmqfrx\"},{\"Id\":\"e75d0021-63e1-4301-9e3a-aa086643386b\",\"TagName\":\"fkmknvp\"},{\"Id\":\"f4632532-13ed-43c4-8dcd-5ae3190799b1\",\"TagName\":\"jxyobzg\"},{\"Id\":\"c71ff394-9f4d-412f-9b66-ce2e45cf00a0\",\"TagName\":\"ittczdc\"},{\"Id\":\"5865578b-71a0-4724-984b-aca0594c8100\",\"TagName\":\"sbxvmsg\"},{\"Id\":\"a3fe6cbc-5b3a-4d6e-863f-654e1e5cde66\",\"TagName\":\"fidxwlr\"}],\"Category\":\"Bìa sách\",\"LikeNum\":193,\"ViewNum\":952,\"Comments\":[\"80f3477f-f25a-455a-8afc-4a65233a53f4\",\"ad5028ac-76a1-476c-b945-1b60dee4990b\"],\"Assets\":[{\"Id\":\"012a6c52-80cb-4154-b531-1613f0a6645c\",\"AssetName\":\"NatoquePenatibusEt.avi\",\"AssetType\":\".zrw\",\"Price\":\"$5.65\"},{\"Id\":\"03f4698f-4c44-47fc-9e20-fb0a1f1ba3be\",\"AssetName\":\"ProinRisusPraesent.mov\",\"AssetType\":\".zuj\",\"Price\":\"$1.72\"}]},\n// {\"Id\":\"b172b0bc-6e6b-4f0f-8b52-a3d749bd32ac\",\"Title\":\"Noah's Arc Principle, The (Arche Noah Prinzip, Das)\",\"CreatedBy\":\"9d36976e-8a65-40ca-9099-5ea604dad11c\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/293x207.png/ff4444/ffffff\",\"http://dummyimage.com/181x595.png/5fa2dd/ffffff\",\"http://dummyimage.com/182x282.png/dddddd/000000\",\"http://dummyimage.com/391x657.png/ff4444/ffffff\",\"http://dummyimage.com/697x615.png/ff4444/ffffff\"],\"Description\":\"In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.\\n\\nAliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.\\n\\nSed ante. Vivamus tortor. Duis mattis egestas metus.\",\"Privacy\":\"Public\",\"Tags\":[{\"Id\":\"8307ba12-393c-4446-8c4f-125d0be28de0\",\"TagName\":\"xikxzcx\"},{\"Id\":\"2d7a6237-66be-4bae-a583-7350e51decf1\",\"TagName\":\"ggjyqfi\"},{\"Id\":\"eac45233-8b3c-40d2-94b6-276bdaa8c1ed\",\"TagName\":\"yjbumpy\"},{\"Id\":\"c01ff38e-72ed-4846-b366-aab3d695850e\",\"TagName\":\"gktxlra\"},{\"Id\":\"417e7527-f851-4699-8451-503995d01001\",\"TagName\":\"oygbdjr\"}],\"Category\":\"Bìa sách\",\"LikeNum\":409,\"ViewNum\":1860,\"Comments\":[\"1cbe9122-f8a1-4ef3-878f-33d83aa67c2b\",\"c996cfa2-bdd8-42c0-860a-31e3949ae5a8\",\"3fb37314-b7a1-4e14-88d8-f7c24f99b480\",\"92db506b-3576-436e-8a5a-70927db2a176\",\"eb17203e-92df-4899-a92f-e950690ea477\",\"a7f4dd9b-6f74-4fbd-8a8d-f204e44de803\",\"83be4144-ec06-4489-a4ee-342a9d268835\"],\"Assets\":[{\"Id\":\"6a14ebe8-659b-4008-b193-44090c53fae4\",\"AssetName\":\"Sed.png\",\"AssetType\":\".nvx\",\"Price\":\"$6.52\"},{\"Id\":\"cc801347-dfd2-4461-a067-8fca4de096f9\",\"AssetName\":\"Nonummy.txt\",\"AssetType\":\".ubc\",\"Price\":\"$5.70\"},{\"Id\":\"ab72f51a-3874-4774-b8ce-7b6244f949a8\",\"AssetName\":\"TinciduntInLeo.mpeg\",\"AssetType\":\".lhl\",\"Price\":\"$0.55\"},{\"Id\":\"cecd21de-72d7-419b-ab69-3d959af91821\",\"AssetName\":\"NamDui.xls\",\"AssetType\":\".bpf\",\"Price\":\"$3.98\"}]},\n// {\"Id\":\"ff1f7496-837e-49ae-92d3-dcf931cd70da\",\"Title\":\"Dracula's Daughter\",\"CreatedBy\":\"54b2ffcc-2e42-4367-ad5f-982dc1a1727e\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/580x569.png/dddddd/000000\",\"http://dummyimage.com/606x613.png/5fa2dd/ffffff\"],\"Description\":\"Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\",\"Privacy\":\"Private\",\"Tags\":[{\"Id\":\"f65adf8b-5c17-4c21-9016-c188b7d697a0\",\"TagName\":\"suocdoh\"},{\"Id\":\"f821ce56-bf61-4e03-9663-1368096007f2\",\"TagName\":\"megpdzr\"},{\"Id\":\"69355c18-c3ef-4387-886c-e6ca8b741415\",\"TagName\":\"ukszegi\"},{\"Id\":\"ff21c902-9b13-4c81-bf59-7ee2ff9c9734\",\"TagName\":\"hgchfnf\"},{\"Id\":\"3856ffce-97cf-4941-9614-ab592174e9ca\",\"TagName\":\"nmkuwro\"},{\"Id\":\"50f71086-3df9-4b45-8545-2e961a7a2bfa\",\"TagName\":\"slzdfis\"},{\"Id\":\"ec36cf32-6676-4eee-b2c4-8a6f11918f9e\",\"TagName\":\"twbajyr\"},{\"Id\":\"663944d3-d10d-45f8-bf77-eb224db1caad\",\"TagName\":\"aggbsnk\"},{\"Id\":\"6c1c2822-32f7-4cf7-90e2-56418ac20f32\",\"TagName\":\"psqgekk\"}],\"Category\":\"Bìa sách\",\"LikeNum\":0,\"ViewNum\":484,\"Comments\":[\"edac5962-7262-495e-985e-82ddf375a536\",\"6cc3a6c7-25e2-4d53-9a44-aa8c20275400\",\"320eb575-34fe-452a-aa93-6852b7f16758\",\"b51faa35-66c0-4c62-8fc3-8be95653440b\",\"6bc8f3ea-d0a8-4019-9a52-7ff522ed4637\",\"0993fef9-b518-43a2-93ae-e2cae9ea2bb0\",\"f2625175-53ca-4a10-be81-963ddbf2f490\",\"5d2fae12-ccc3-406d-8d21-900f599f4877\",\"6da66720-fa3c-448c-bd07-aa03db016ece\"],\"Assets\":[{\"Id\":\"993b3d31-5574-4e27-922a-aa46e5146866\",\"AssetName\":\"Ut.png\",\"AssetType\":\".ltv\",\"Price\":\"$4.21\"},{\"Id\":\"d1763c6f-7260-4f21-9c08-0d4545eb2eab\",\"AssetName\":\"EstCongueElementum.tiff\",\"AssetType\":\".ghe\",\"Price\":\"$1.49\"},{\"Id\":\"3ab83d1c-1478-40e3-8618-633c2f380e39\",\"AssetName\":\"VelNisl.avi\",\"AssetType\":\".dcr\",\"Price\":\"$3.42\"},{\"Id\":\"9cd4f841-ec03-4fbd-8cc9-eee187cfaca7\",\"AssetName\":\"Sed.mov\",\"AssetType\":\".bcb\",\"Price\":\"$9.03\"}]},\n// {\"Id\":\"da336b7b-849a-4110-b193-14dde470ba85\",\"Title\":\"Don't Bother to Knock\",\"CreatedBy\":\"801156e2-036e-4734-ab23-d761c9e71e06\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/193x942.png/5fa2dd/ffffff\",\"http://dummyimage.com/506x466.png/ff4444/ffffff\",\"http://dummyimage.com/436x247.png/5fa2dd/ffffff\",\"http://dummyimage.com/628x790.png/dddddd/000000\"],\"Description\":\"Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.\\n\\nMorbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.\\n\\nFusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.\",\"Privacy\":\"Public\",\"Tags\":[{\"Id\":\"5d894b65-9db2-4cc6-a7bc-b2fb04f6cba7\",\"TagName\":\"hzxytko\"},{\"Id\":\"c14043e9-b73a-4b7f-91d8-23f0ea1a0cf1\",\"TagName\":\"esibyej\"},{\"Id\":\"e9a686c4-8e06-4b8a-93f9-a556badc839f\",\"TagName\":\"uyzpzyt\"},{\"Id\":\"a4e04416-dd7e-4e68-bb8b-9384cf9b6630\",\"TagName\":\"idunmjt\"},{\"Id\":\"06603d75-bc79-4b63-8996-5a823b17b849\",\"TagName\":\"pxlybwh\"},{\"Id\":\"451a13d8-bd2c-4c3a-9cb0-acdb1320a610\",\"TagName\":\"ayzlyze\"},{\"Id\":\"b470f94d-6cf4-49d9-bf56-196171cde03f\",\"TagName\":\"ebvaotw\"},{\"Id\":\"e433d59e-2e2c-4f86-bec9-d5d78b3fef92\",\"TagName\":\"dywdcyb\"},{\"Id\":\"e4f06cc5-6109-4132-a882-ffaac38cb4a4\",\"TagName\":\"tpqfgig\"},{\"Id\":\"5454baf0-547a-4d49-96be-89aef3f03be8\",\"TagName\":\"rbhumxa\"}],\"Category\":\"Tranh vẽ\",\"LikeNum\":366,\"ViewNum\":133,\"Comments\":[\"54936914-5b37-417a-b074-6fde5d3f1a44\",\"b1430045-7d3a-46a4-86f9-4f3612374274\",\"b15b72b1-d385-4c25-8502-1dd4bdb6aa0e\",\"d85c1f96-c7b4-4fdd-9d4c-5c64dc7a60e3\"],\"Assets\":[{\"Id\":\"37e029df-58af-449b-81d2-3cfe1b2c1619\",\"AssetName\":\"PhasellusIdSapien.doc\",\"AssetType\":\".mtz\",\"Price\":\"$3.23\"},{\"Id\":\"ad1b57a1-ded2-49b3-afe9-35ac9a06f2aa\",\"AssetName\":\"VestibulumVestibulumAnte.jpeg\",\"AssetType\":\".idd\",\"Price\":\"$3.19\"}]},\n// {\"Id\":\"c0540dae-12e6-4077-8f97-aac805c1b58e\",\"Title\":\"Tropical Malady (Sud pralad)\",\"CreatedBy\":\"0963ed24-ed51-49a7-a142-ebb95e994b88\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/346x110.png/cc0000/ffffff\",\"http://dummyimage.com/310x665.png/5fa2dd/ffffff\",\"http://dummyimage.com/624x521.png/dddddd/000000\",\"http://dummyimage.com/646x826.png/cc0000/ffffff\"],\"Description\":\"Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.\\n\\nCurabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.\",\"Privacy\":\"Public\",\"Tags\":[{\"Id\":\"eb3951a2-c12e-439e-9819-0b39a414f3a8\",\"TagName\":\"qzfkvme\"},{\"Id\":\"9f5fc249-19a3-4fb2-8544-2e51d1229541\",\"TagName\":\"ynbldcw\"},{\"Id\":\"546bdfee-595f-40d6-ad37-1cb964b3a24f\",\"TagName\":\"zcbosdi\"}],\"Category\":\"Tranh vẽ\",\"LikeNum\":502,\"ViewNum\":1799,\"Comments\":[\"b7cf21b8-1641-4209-85d7-7372fb3b63e4\",\"42b8725b-cb2f-4363-8503-57855cbfc4bf\",\"a7a2caa6-d99a-4e4f-b699-71f6fad988df\",\"595b05dc-111d-4f6b-8e6d-a63ab014b037\",\"0a7c1bd0-fa32-4c71-a3ce-e4c008193696\"],\"Assets\":[{\"Id\":\"7b7874aa-7938-467f-8f84-a2a7806b94d9\",\"AssetName\":\"Sapien.avi\",\"AssetType\":\".mii\",\"Price\":\"$7.36\"},{\"Id\":\"cc48f78c-1edc-45bc-ad39-4486125eff16\",\"AssetName\":\"Ligula.mp3\",\"AssetType\":\".ggb\",\"Price\":\"$3.90\"},{\"Id\":\"508a069c-51f4-4b90-aee6-3b0f76df8247\",\"AssetName\":\"LobortisVelDapibus.ppt\",\"AssetType\":\".vvz\",\"Price\":\"$4.33\"}]},\n// {\"Id\":\"460dd1f9-6df1-44f9-ab34-7b048b065cda\",\"Title\":\"Bonnie Scotland (Heroes of the Regiment)\",\"CreatedBy\":\"73a9ae38-fa60-4361-b4e7-300e2b5b17b7\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/616x743.png/cc0000/ffffff\",\"http://dummyimage.com/184x641.png/5fa2dd/ffffff\"],\"Description\":\"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.\\n\\nEtiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.\",\"Privacy\":\"Private\",\"Tags\":[{\"Id\":\"229b2526-6333-499a-bdbf-b79e3071df92\",\"TagName\":\"sqopqrk\"},{\"Id\":\"8c1b132f-458e-490b-b864-0ebfcc324ccc\",\"TagName\":\"pjhvgcw\"},{\"Id\":\"20c5ac4c-5ac2-4b76-9745-51c732ec9145\",\"TagName\":\"zryfuto\"},{\"Id\":\"26c8b3c5-00c2-419a-a087-4f16a9ef7c14\",\"TagName\":\"zaeoupf\"}],\"Category\":\"Minh hoạ\",\"LikeNum\":655,\"ViewNum\":1047,\"Comments\":[\"4a98e80e-2661-46b8-a5bf-6d129a497d4d\"],\"Assets\":[{\"Id\":\"e65c6500-b292-42ce-a08b-b35f2a92ece4\",\"AssetName\":\"Vulputate.avi\",\"AssetType\":\".umz\",\"Price\":\"$0.17\"},{\"Id\":\"e5d0dc70-df5a-44a6-891c-7836179c6da6\",\"AssetName\":\"LaciniaEratVestibulum.xls\",\"AssetType\":\".fhz\",\"Price\":\"$6.28\"},{\"Id\":\"f7320939-90dc-4efb-afad-ecb6e72f1f35\",\"AssetName\":\"Integer.mov\",\"AssetType\":\".jqr\",\"Price\":\"$8.96\"}]},\n// {\"Id\":\"7c436cb6-b440-4021-a539-e2a01d24322e\",\"Title\":\"Ghost Writer, The\",\"CreatedBy\":\"b833fc18-90c2-41de-8511-fc91f273e3cf\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/187x558.png/cc0000/ffffff\",\"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"],\"Description\":\"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\",\"Privacy\":\"Public\",\"Tags\":[{\"Id\":\"ce460005-4e5b-4dfa-9fde-ed8ba1935b51\",\"TagName\":\"yfvtdle\"},{\"Id\":\"8826a8c7-aad1-48e4-b041-aa91ac5b2acb\",\"TagName\":\"izvmaoo\"},{\"Id\":\"e8f37be7-49d1-4d73-bbaf-85ca06745b7e\",\"TagName\":\"rcnhtyq\"},{\"Id\":\"bc7e1400-1c8f-4f34-9d68-24d1a7f36ce3\",\"TagName\":\"qobnscp\"},{\"Id\":\"34e04343-d8c8-4302-b98a-8e0e3f07d0a3\",\"TagName\":\"fleyrmy\"},{\"Id\":\"add47029-fa6b-4eca-9f8c-d2ae5c145e68\",\"TagName\":\"dcdzgqn\"},{\"Id\":\"9bf430c7-ffcb-4fb8-925d-a6c0aa221ce5\",\"TagName\":\"woltpff\"},{\"Id\":\"9d4ee8d9-4d54-4ed4-ab87-8865d82f5bb4\",\"TagName\":\"gidfecv\"},{\"Id\":\"9d6be8a6-4bb2-4847-be83-1c891d1f5356\",\"TagName\":\"kixbkwb\"}],\"Category\":\"Bìa sách\",\"LikeNum\":377,\"ViewNum\":1679,\"Comments\":[\"621e8685-8b1e-471c-b6a4-0dc7b2709263\",\"72f4c235-f613-4d50-8f0a-ba98ed69e44f\",\"462fabaa-3176-400b-ac7c-89bcdff2822f\",\"56112651-5334-4957-8afd-290e50062247\",\"d74b4970-f9f3-439d-9537-bc9a5979bc24\",\"a3e4b461-9030-462e-8506-cbac0ef0550f\",\"5798a36e-b744-4a4a-969e-88216eb39e40\",\"436a0acc-fe90-40cd-a9b3-b70d68895335\"],\"Assets\":[{\"Id\":\"e34860a6-dfc6-4b1e-9cdf-eff6a6c62c62\",\"AssetName\":\"TurpisDonecPosuere.ppt\",\"AssetType\":\".xvv\",\"Price\":\"$7.60\"},{\"Id\":\"8203d78c-ad4a-498f-8da5-b88f28a5052d\",\"AssetName\":\"Lorem.avi\",\"AssetType\":\".bdl\",\"Price\":\"$9.93\"}]},\n// {\"Id\":\"b151e4e0-fbcc-4a30-a0d3-cb94bac78dfd\",\"Title\":\"The Winslow Boy\",\"CreatedBy\":\"4b128518-20c5-4561-88cf-50f034214100\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/210x789.png/5fa2dd/ffffff\",\"http://dummyimage.com/350x869.png/5fa2dd/ffffff\",\"http://dummyimage.com/118x610.png/cc0000/ffffff\",\"http://dummyimage.com/564x979.png/dddddd/000000\"],\"Description\":\"Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.\",\"Privacy\":\"Public\",\"Tags\":[{\"Id\":\"767d412c-9c12-47ce-86d1-e5a772ee1c2b\",\"TagName\":\"bqmuvkr\"},{\"Id\":\"ce21b4fb-693b-4a8e-a4b4-a22aba2e421b\",\"TagName\":\"tmtgpuv\"},{\"Id\":\"9e691caf-a5af-4528-94ba-7d0fe3af95d2\",\"TagName\":\"ihyqrqx\"},{\"Id\":\"f4549a09-1887-4fe3-a764-52e46190c78a\",\"TagName\":\"xzzxiaz\"},{\"Id\":\"527696a6-cfd8-440f-a6c6-647296354175\",\"TagName\":\"dztlfik\"},{\"Id\":\"612584c2-3fa0-4627-bc44-4270a380860c\",\"TagName\":\"zpiogyb\"}],\"Category\":\"Tranh vẽ\",\"LikeNum\":481,\"ViewNum\":446,\"Comments\":[\"2c0bd230-a05c-4e7e-b8dc-aa0f8e1a6b9a\",\"9ad60d0a-71b5-424b-b6f2-9322bebd9e53\",\"dc49a415-3524-4803-a2c7-e0c9216875be\",\"a3bef30e-ae71-45ea-8b82-93b5d82bc446\",\"cf2946fd-7598-4252-8757-35e73a4728ec\",\"74417fd6-cfb4-43a2-8c2c-aa9bde7e5ae6\",\"4760567b-33c7-4229-ad83-648c0dd1c3bf\"],\"Assets\":[{\"Id\":\"9f864142-67cc-4b62-aa51-bf27e5077c1a\",\"AssetName\":\"VariusNulla.mpeg\",\"AssetType\":\".bxr\",\"Price\":\"$4.89\"},{\"Id\":\"77606a08-9e5d-40da-b8e1-09fc98b4fa6c\",\"AssetName\":\"RhoncusAliquamLacus.mov\",\"AssetType\":\".eho\",\"Price\":\"$8.57\"},{\"Id\":\"e1d7e9c7-054b-4225-ac13-791835c9d953\",\"AssetName\":\"VestibulumQuamSapien.ppt\",\"AssetType\":\".ihc\",\"Price\":\"$2.67\"}]},\n// {\"Id\":\"ad236276-5765-4f3c-bdba-e640fc0f8897\",\"Title\":\"Short Film About Killing, A (Krótki film o zabijaniu)\",\"CreatedBy\":\"9304e2af-fd01-43e1-8294-7327dd3ec0c4\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/109x484.png/dddddd/000000\",\"http://dummyimage.com/600x579.png/5fa2dd/ffffff\"],\"Description\":\"Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\",\"Privacy\":\"Private\",\"Tags\":[{\"Id\":\"7f0a2b99-379a-40f3-be33-5a1e12d82f8e\",\"TagName\":\"kfnwvvl\"}],\"Category\":\"Minh hoạ\",\"LikeNum\":791,\"ViewNum\":830,\"Comments\":[\"93013690-db67-4e14-9a79-eb30c1e4cb35\",\"4ee1a7c6-a6f7-42df-8eb1-c997a33e08a1\",\"65dca41f-667d-4e7e-8046-feb8ad8beba9\",\"8a8eb875-9a11-414d-83ba-f15270d58ce8\",\"6d77c9d6-9d92-4009-88a6-3e0b6f54e7f4\",\"8a648ff9-ed54-43ca-8802-aa3ce9d68b5d\",\"4d39d63f-422b-47dc-a332-c08b684e65ca\",\"4127b9b2-77d2-492a-89ff-36b2653061d1\",\"7474092c-a7ac-4ab1-99f7-d13dee83edc9\",\"a667e11f-9e02-4b55-aa94-c00c77daa160\"],\"Assets\":[]},\n// {\"Id\":\"291cd899-0809-48d4-b230-4a5b84fec385\",\"Title\":\"Hôtel des Invalides\",\"CreatedBy\":\"2ba0c6b0-4402-4432-a397-3338ea992226\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"LastModifiedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"Images\":[\"http://dummyimage.com/647x205.png/ff4444/ffffff\",\"http://dummyimage.com/555x1055.png/5fa2dd/ffffff\",\"http://dummyimage.com/307x764.png/dddddd/000000\",\"http://dummyimage.com/124x416.png/dddddd/000000\"],\"Description\":\"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\",\"Privacy\":\"Private\",\"Tags\":[{\"Id\":\"1faa3d37-e5e7-4856-b6ed-f68c1e26d345\",\"TagName\":\"bdyarae\"},{\"Id\":\"1add0fe4-b05c-4319-af68-8e36ecca8345\",\"TagName\":\"sdufabi\"},{\"Id\":\"cfc0a0a5-dc44-4e44-a073-06b4aeb05fde\",\"TagName\":\"oynxgve\"},{\"Id\":\"f71da8bc-b0e1-46ed-bc95-470c58caaf40\",\"TagName\":\"nwfmmme\"},{\"Id\":\"e273a74a-a5da-48fa-85ca-9952173203a4\",\"TagName\":\"mgbrnmg\"}],\"Category\":\"Tranh vẽ\",\"LikeNum\":904,\"ViewNum\":1066,\"Comments\":[\"0be0007f-fa04-4bdb-8fec-3bba88c24ac7\"],\"Assets\":[{\"Id\":\"7cfdb5a2-87a0-4c8d-8db9-19be56a50745\",\"AssetName\":\"NuncProinAt.gif\",\"AssetType\":\".wzo\",\"Price\":\"$7.53\"},{\"Id\":\"273fab8c-09fb-4fa8-9d16-8933e2a4cd29\",\"AssetName\":\"IdNisl.tiff\",\"AssetType\":\".xdp\",\"Price\":\"$1.98\"},{\"Id\":\"e80db3c8-7b0e-45ce-b73c-085d986ff8aa\",\"AssetName\":\"Quis.mp3\",\"AssetType\":\".psn\",\"Price\":\"$3.35\"},{\"Id\":\"8c7d1faf-214c-411f-9c40-8cb736f096d7\",\"AssetName\":\"AcLeoPellentesque.jpeg\",\"AssetType\":\".iqu\",\"Price\":\"$3.89\"}]}];\n\n// msg.payload = sampleData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "2d6af10c3c540573"
            ]
        ]
    },
    {
        "id": "0adf3f18d352d7b1",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[PUT] Like artwork",
        "url": "/artworks/:artworkId/like",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "8dd1c7850611f705"
            ]
        ]
    },
    {
        "id": "c953db0f6c2c4ed8",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "8dd1c7850611f705",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 13",
        "func": "// Get artwork ID from parameter\nlet { artworkId } = msg.req.params;\n\n// Get accountId from request body\nlet { accountId } = msg.req.body;\n\n// Query from DB and return the result\n// --> SUCCESSFUL: return status code === 200\n// ---> FAIL: return status code != 200; attach the error message\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "c953db0f6c2c4ed8"
            ]
        ]
    },
    {
        "id": "a47a38f3a0850be3",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[DEL] Unlike artwork",
        "url": "/artworks/:artworkId/unlike",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "35db328ac1c202ce"
            ]
        ]
    },
    {
        "id": "5d9a88f53e97b6a5",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "35db328ac1c202ce",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 14",
        "func": "// Get artwork ID from parameter\nlet { artworkId } = msg.req.params;\n\n// Get accountId from request body\nlet { accountId } = msg.req.body;\n\n// Query from DB and return the result\n// --> SUCCESSFUL: return status code === 200\n// ---> FAIL: return status code != 200; attach the error message\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "5d9a88f53e97b6a5"
            ]
        ]
    },
    {
        "id": "732c6e49ec8fc9dc",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[POST] Comment to Artwork",
        "url": "/artworks/:artworkId/comments",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "6f9ea0dbf87d37f8"
            ]
        ]
    },
    {
        "id": "191625aa03252bdb",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "6f9ea0dbf87d37f8",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 15",
        "func": "// Get artwork ID from parameter\nlet { artworkId } = msg.req.params;\n\n// Get accountId, content from request body\nlet { accountId, content } = msg.req.body;\n\n// Query from DB and return the result\n// --> SUCCESSFUL: return status code === 200; return new Comments list\n// ---> FAIL: return status code != 200; attach the error message\n\nmsg.payload = [\n    {\n        \"Id\": \"26fa481a-a2e4-4b7f-89b7-0946e0292f3a\",\n        \"UserId\": \"35dc8159-ab9a-42e1-8c7f-7bcd358b9ac7\",\n        \"Fullname\": \"Eleni Easeman\",\n        \"Avatar\": \"https://robohash.org/assumendanecessitatibusconsequatur.png?size=50x50&set=set1\",\n        \"Content\": \"Extended stable implementation\"\n    },\n    {\n        \"Id\": \"952a016b-cd92-4521-b2d2-48b3fb594d63\",\n        \"UserId\": \"87ab636c-808c-434e-bcc5-33ca2614c2d1\",\n        \"Fullname\": \"Genvieve Souza\",\n        \"Avatar\": \"https://robohash.org/laudantiumveniammodi.png?size=50x50&set=set1\",\n        \"Content\": \"Phased motivating application\"\n    },\n    {\n        \"Id\": \"2c5fc1ea-3acc-4b39-930e-def9835416ce\",\n        \"UserId\": \"79778a2e-9c58-420c-b10c-7a97be08deba\",\n        \"Fullname\": \"Jake Kleynen\",\n        \"Avatar\": \"https://robohash.org/impeditvoluptatemut.png?size=50x50&set=set1\",\n        \"Content\": \"Public-key uniform workforce\"\n    },\n    {\n        \"Id\": \"18a8de9f-fe7b-4431-becf-956cc539da59\",\n        \"UserId\": \"84219910-9924-4dc2-892b-4f082995562a\",\n        \"Fullname\": \"Silvano Van Schafflaer\",\n        \"Avatar\": \"https://robohash.org/aperiamautomnis.png?size=50x50&set=set1\",\n        \"Content\": \"User-friendly reciprocal archive\"\n    },\n    {\n        \"Id\": \"9df9cd21-d61f-47de-a3e4-f8400f248449\",\n        \"UserId\": \"4ec5b588-992a-4cc5-8baf-a2922e7fd6f6\",\n        \"Fullname\": \"Katlin Dobbin\",\n        \"Avatar\": \"https://robohash.org/illumcommodiadipisci.png?size=50x50&set=set1\",\n        \"Content\": \"Streamlined full-range adapter\"\n    },\n    {\n        \"Id\": \"efa690e5-31d4-46a4-908e-147f6da9930d\",\n        \"UserId\": \"38187ca4-b534-4910-8ed6-13832f914268\",\n        \"Fullname\": \"Lulita Gibling\",\n        \"Avatar\": \"https://robohash.org/molestiaeerrorarchitecto.png?size=50x50&set=set1\",\n        \"Content\": \"Face to face optimizing artificial intelligence\"\n    },\n    {\n        \"Id\": \"f3068f79-3d33-4028-9d49-1c16711932b5\",\n        \"UserId\": \"a36e2817-a7a9-4e05-9890-05904ad66cae\",\n        \"Fullname\": \"Marys Hurford\",\n        \"Avatar\": \"https://robohash.org/vitaequivoluptatum.png?size=50x50&set=set1\",\n        \"Content\": \"Automated real-time parallelism\"\n    },\n    {\n        \"Id\": \"fe1c3556-14a6-468e-aebb-fadc226808ed\",\n        \"UserId\": \"93fa991f-a306-415e-a7cb-1798b62c73a1\",\n        \"Fullname\": \"Greta Braime\",\n        \"Avatar\": \"https://robohash.org/deseruntipsumenim.png?size=50x50&set=set1\",\n        \"Content\": \"Cross-platform regional concept\"\n    },\n    {\n        \"Id\": \"80ce9c9d-8bc4-4d2d-ba1b-dd802c9def32\",\n        \"UserId\": \"559d5f83-6e78-4adb-b692-b7a6a06ff8a7\",\n        \"Fullname\": \"Linea Jallin\",\n        \"Avatar\": \"https://robohash.org/cupiditatehicexpedita.png?size=50x50&set=set1\",\n        \"Content\": \"Decentralized asymmetric installation\"\n    },\n    {\n        \"Id\": \"4bd3f447-2a7e-4ed0-8e32-18132c08477c\",\n        \"UserId\": \"3dd24bf3-315e-410c-a48b-575e00d67609\",\n        \"Fullname\": \"Mignon Wixey\",\n        \"Avatar\": \"https://robohash.org/enimutneque.png?size=50x50&set=set1\",\n        \"Content\": \"Realigned 24/7 capacity\"\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "191625aa03252bdb"
            ]
        ]
    },
    {
        "id": "1cecc65b3334029b",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[DEL] Comment to Artwork",
        "url": "/artworks/:artworkId/comments/:commentId",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 800,
        "wires": [
            [
                "1da10f1e8ee12b8e"
            ]
        ]
    },
    {
        "id": "3796f806d8cfb927",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "1da10f1e8ee12b8e",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 16",
        "func": "// Get artwork ID, comment ID from parameter\nlet { artworkId, commentId } = msg.req.params;\n\n// Get accountId from request body\nlet { accountId } = msg.req.body;\n\n// Query from DB and return the result\n// --> SUCCESSFUL: return status code === 200\n// ---> FAIL: return status code != 200; attach the error message\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "3796f806d8cfb927"
            ]
        ]
    },
    {
        "id": "aa631436c511125a",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[PUT] Comment to Artwork",
        "url": "/artworks/:artworkId/comments/:commentId",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "bbe0f959c3101f6b"
            ]
        ]
    },
    {
        "id": "94f753bd1c5a3fd0",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "bbe0f959c3101f6b",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 17",
        "func": "// Get artwork ID, comment ID from parameter\nlet { artworkId, commentId } = msg.req.params;\n\n// Get accountId, new content from request body\nlet { accountId, content } = msg.req.body;\n\n// Query from DB and return the result\n// --> SUCCESSFUL: return status code === 200\n// ---> FAIL: return status code != 200; attach the error message\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 860,
        "wires": [
            [
                "94f753bd1c5a3fd0"
            ]
        ]
    },
    {
        "id": "0eb1821eb0fae50d",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Artwork detail",
        "url": "/artworks/:artworkId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "5de681e515905b48"
            ]
        ]
    },
    {
        "id": "86fe91980942c098",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "5de681e515905b48",
        "type": "function",
        "z": "adcc113084da2426",
        "g": "43c0ca255d8e6bd9",
        "name": "function 6",
        "func": "// Get the id from param\nlet artworkId = msg.req.params.artworkId;\n\n// Query from DB then return the data\nlet mockData = [{ \"Id\": \"e0b1bb5b-4616-4815-90ac-b2fdeb754221\", \"Title\": \"Chicago 8, The\", \"CreatedBy\": \"678be986-1108-49d2-88ef-4c003209b16e\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/309x671.png/cc0000/ffffff\", \"http://dummyimage.com/498x1043.png/dddddd/000000\", \"http://dummyimage.com/277x1030.png/dddddd/000000\"], \"Description\": \"Phasellus in felis. Donec semper sapien a libero. Nam dui.\\n\\nProin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\", \"Privacy\": \"Private\", \"Tags\": [{ \"Id\": \"2b54c7d8-79db-485b-93da-2deee2f305ee\", \"TagName\": \"ppvidfw\" }, { \"Id\": \"ad28536b-752e-4623-ba8a-fc3c7813d313\", \"TagName\": \"gjmqfrx\" }, { \"Id\": \"e75d0021-63e1-4301-9e3a-aa086643386b\", \"TagName\": \"fkmknvp\" }, { \"Id\": \"f4632532-13ed-43c4-8dcd-5ae3190799b1\", \"TagName\": \"jxyobzg\" }, { \"Id\": \"c71ff394-9f4d-412f-9b66-ce2e45cf00a0\", \"TagName\": \"ittczdc\" }, { \"Id\": \"5865578b-71a0-4724-984b-aca0594c8100\", \"TagName\": \"sbxvmsg\" }, { \"Id\": \"a3fe6cbc-5b3a-4d6e-863f-654e1e5cde66\", \"TagName\": \"fidxwlr\" }], \"Category\": \"Bìa sách\", \"LikeNum\": 193, \"ViewNum\": 952, \"Comments\": [\"80f3477f-f25a-455a-8afc-4a65233a53f4\", \"ad5028ac-76a1-476c-b945-1b60dee4990b\"], \"Assets\": [{ \"Id\": \"012a6c52-80cb-4154-b531-1613f0a6645c\", \"AssetName\": \"NatoquePenatibusEt.avi\", \"AssetType\": \".zrw\", \"Price\": \"$5.65\" }, { \"Id\": \"03f4698f-4c44-47fc-9e20-fb0a1f1ba3be\", \"AssetName\": \"ProinRisusPraesent.mov\", \"AssetType\": \".zuj\", \"Price\": \"$1.72\" }] },\n{ \"Id\": \"b172b0bc-6e6b-4f0f-8b52-a3d749bd32ac\", \"Title\": \"Noah's Arc Principle, The (Arche Noah Prinzip, Das)\", \"CreatedBy\": \"9d36976e-8a65-40ca-9099-5ea604dad11c\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/293x207.png/ff4444/ffffff\", \"http://dummyimage.com/181x595.png/5fa2dd/ffffff\", \"http://dummyimage.com/182x282.png/dddddd/000000\", \"http://dummyimage.com/391x657.png/ff4444/ffffff\", \"http://dummyimage.com/697x615.png/ff4444/ffffff\"], \"Description\": \"In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.\\n\\nAliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.\\n\\nSed ante. Vivamus tortor. Duis mattis egestas metus.\", \"Privacy\": \"Public\", \"Tags\": [{ \"Id\": \"8307ba12-393c-4446-8c4f-125d0be28de0\", \"TagName\": \"xikxzcx\" }, { \"Id\": \"2d7a6237-66be-4bae-a583-7350e51decf1\", \"TagName\": \"ggjyqfi\" }, { \"Id\": \"eac45233-8b3c-40d2-94b6-276bdaa8c1ed\", \"TagName\": \"yjbumpy\" }, { \"Id\": \"c01ff38e-72ed-4846-b366-aab3d695850e\", \"TagName\": \"gktxlra\" }, { \"Id\": \"417e7527-f851-4699-8451-503995d01001\", \"TagName\": \"oygbdjr\" }], \"Category\": \"Bìa sách\", \"LikeNum\": 409, \"ViewNum\": 1860, \"Comments\": [\"1cbe9122-f8a1-4ef3-878f-33d83aa67c2b\", \"c996cfa2-bdd8-42c0-860a-31e3949ae5a8\", \"3fb37314-b7a1-4e14-88d8-f7c24f99b480\", \"92db506b-3576-436e-8a5a-70927db2a176\", \"eb17203e-92df-4899-a92f-e950690ea477\", \"a7f4dd9b-6f74-4fbd-8a8d-f204e44de803\", \"83be4144-ec06-4489-a4ee-342a9d268835\"], \"Assets\": [{ \"Id\": \"6a14ebe8-659b-4008-b193-44090c53fae4\", \"AssetName\": \"Sed.png\", \"AssetType\": \".nvx\", \"Price\": \"$6.52\" }, { \"Id\": \"cc801347-dfd2-4461-a067-8fca4de096f9\", \"AssetName\": \"Nonummy.txt\", \"AssetType\": \".ubc\", \"Price\": \"$5.70\" }, { \"Id\": \"ab72f51a-3874-4774-b8ce-7b6244f949a8\", \"AssetName\": \"TinciduntInLeo.mpeg\", \"AssetType\": \".lhl\", \"Price\": \"$0.55\" }, { \"Id\": \"cecd21de-72d7-419b-ab69-3d959af91821\", \"AssetName\": \"NamDui.xls\", \"AssetType\": \".bpf\", \"Price\": \"$3.98\" }] },\n{ \"Id\": \"ff1f7496-837e-49ae-92d3-dcf931cd70da\", \"Title\": \"Dracula's Daughter\", \"CreatedBy\": \"54b2ffcc-2e42-4367-ad5f-982dc1a1727e\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/580x569.png/dddddd/000000\", \"http://dummyimage.com/606x613.png/5fa2dd/ffffff\"], \"Description\": \"Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\", \"Privacy\": \"Private\", \"Tags\": [{ \"Id\": \"f65adf8b-5c17-4c21-9016-c188b7d697a0\", \"TagName\": \"suocdoh\" }, { \"Id\": \"f821ce56-bf61-4e03-9663-1368096007f2\", \"TagName\": \"megpdzr\" }, { \"Id\": \"69355c18-c3ef-4387-886c-e6ca8b741415\", \"TagName\": \"ukszegi\" }, { \"Id\": \"ff21c902-9b13-4c81-bf59-7ee2ff9c9734\", \"TagName\": \"hgchfnf\" }, { \"Id\": \"3856ffce-97cf-4941-9614-ab592174e9ca\", \"TagName\": \"nmkuwro\" }, { \"Id\": \"50f71086-3df9-4b45-8545-2e961a7a2bfa\", \"TagName\": \"slzdfis\" }, { \"Id\": \"ec36cf32-6676-4eee-b2c4-8a6f11918f9e\", \"TagName\": \"twbajyr\" }, { \"Id\": \"663944d3-d10d-45f8-bf77-eb224db1caad\", \"TagName\": \"aggbsnk\" }, { \"Id\": \"6c1c2822-32f7-4cf7-90e2-56418ac20f32\", \"TagName\": \"psqgekk\" }], \"Category\": \"Bìa sách\", \"LikeNum\": 0, \"ViewNum\": 484, \"Comments\": [\"edac5962-7262-495e-985e-82ddf375a536\", \"6cc3a6c7-25e2-4d53-9a44-aa8c20275400\", \"320eb575-34fe-452a-aa93-6852b7f16758\", \"b51faa35-66c0-4c62-8fc3-8be95653440b\", \"6bc8f3ea-d0a8-4019-9a52-7ff522ed4637\", \"0993fef9-b518-43a2-93ae-e2cae9ea2bb0\", \"f2625175-53ca-4a10-be81-963ddbf2f490\", \"5d2fae12-ccc3-406d-8d21-900f599f4877\", \"6da66720-fa3c-448c-bd07-aa03db016ece\"], \"Assets\": [{ \"Id\": \"993b3d31-5574-4e27-922a-aa46e5146866\", \"AssetName\": \"Ut.png\", \"AssetType\": \".ltv\", \"Price\": \"$4.21\" }, { \"Id\": \"d1763c6f-7260-4f21-9c08-0d4545eb2eab\", \"AssetName\": \"EstCongueElementum.tiff\", \"AssetType\": \".ghe\", \"Price\": \"$1.49\" }, { \"Id\": \"3ab83d1c-1478-40e3-8618-633c2f380e39\", \"AssetName\": \"VelNisl.avi\", \"AssetType\": \".dcr\", \"Price\": \"$3.42\" }, { \"Id\": \"9cd4f841-ec03-4fbd-8cc9-eee187cfaca7\", \"AssetName\": \"Sed.mov\", \"AssetType\": \".bcb\", \"Price\": \"$9.03\" }] },\n{ \"Id\": \"da336b7b-849a-4110-b193-14dde470ba85\", \"Title\": \"Don't Bother to Knock\", \"CreatedBy\": \"801156e2-036e-4734-ab23-d761c9e71e06\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/193x942.png/5fa2dd/ffffff\", \"http://dummyimage.com/506x466.png/ff4444/ffffff\", \"http://dummyimage.com/436x247.png/5fa2dd/ffffff\", \"http://dummyimage.com/628x790.png/dddddd/000000\"], \"Description\": \"Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.\\n\\nMorbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.\\n\\nFusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.\", \"Privacy\": \"Public\", \"Tags\": [{ \"Id\": \"5d894b65-9db2-4cc6-a7bc-b2fb04f6cba7\", \"TagName\": \"hzxytko\" }, { \"Id\": \"c14043e9-b73a-4b7f-91d8-23f0ea1a0cf1\", \"TagName\": \"esibyej\" }, { \"Id\": \"e9a686c4-8e06-4b8a-93f9-a556badc839f\", \"TagName\": \"uyzpzyt\" }, { \"Id\": \"a4e04416-dd7e-4e68-bb8b-9384cf9b6630\", \"TagName\": \"idunmjt\" }, { \"Id\": \"06603d75-bc79-4b63-8996-5a823b17b849\", \"TagName\": \"pxlybwh\" }, { \"Id\": \"451a13d8-bd2c-4c3a-9cb0-acdb1320a610\", \"TagName\": \"ayzlyze\" }, { \"Id\": \"b470f94d-6cf4-49d9-bf56-196171cde03f\", \"TagName\": \"ebvaotw\" }, { \"Id\": \"e433d59e-2e2c-4f86-bec9-d5d78b3fef92\", \"TagName\": \"dywdcyb\" }, { \"Id\": \"e4f06cc5-6109-4132-a882-ffaac38cb4a4\", \"TagName\": \"tpqfgig\" }, { \"Id\": \"5454baf0-547a-4d49-96be-89aef3f03be8\", \"TagName\": \"rbhumxa\" }], \"Category\": \"Tranh vẽ\", \"LikeNum\": 366, \"ViewNum\": 133, \"Comments\": [\"54936914-5b37-417a-b074-6fde5d3f1a44\", \"b1430045-7d3a-46a4-86f9-4f3612374274\", \"b15b72b1-d385-4c25-8502-1dd4bdb6aa0e\", \"d85c1f96-c7b4-4fdd-9d4c-5c64dc7a60e3\"], \"Assets\": [{ \"Id\": \"37e029df-58af-449b-81d2-3cfe1b2c1619\", \"AssetName\": \"PhasellusIdSapien.doc\", \"AssetType\": \".mtz\", \"Price\": \"$3.23\" }, { \"Id\": \"ad1b57a1-ded2-49b3-afe9-35ac9a06f2aa\", \"AssetName\": \"VestibulumVestibulumAnte.jpeg\", \"AssetType\": \".idd\", \"Price\": \"$3.19\" }] },\n{ \"Id\": \"c0540dae-12e6-4077-8f97-aac805c1b58e\", \"Title\": \"Tropical Malady (Sud pralad)\", \"CreatedBy\": \"0963ed24-ed51-49a7-a142-ebb95e994b88\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/346x110.png/cc0000/ffffff\", \"http://dummyimage.com/310x665.png/5fa2dd/ffffff\", \"http://dummyimage.com/624x521.png/dddddd/000000\", \"http://dummyimage.com/646x826.png/cc0000/ffffff\"], \"Description\": \"Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.\\n\\nCurabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.\", \"Privacy\": \"Public\", \"Tags\": [{ \"Id\": \"eb3951a2-c12e-439e-9819-0b39a414f3a8\", \"TagName\": \"qzfkvme\" }, { \"Id\": \"9f5fc249-19a3-4fb2-8544-2e51d1229541\", \"TagName\": \"ynbldcw\" }, { \"Id\": \"546bdfee-595f-40d6-ad37-1cb964b3a24f\", \"TagName\": \"zcbosdi\" }], \"Category\": \"Tranh vẽ\", \"LikeNum\": 502, \"ViewNum\": 1799, \"Comments\": [\"b7cf21b8-1641-4209-85d7-7372fb3b63e4\", \"42b8725b-cb2f-4363-8503-57855cbfc4bf\", \"a7a2caa6-d99a-4e4f-b699-71f6fad988df\", \"595b05dc-111d-4f6b-8e6d-a63ab014b037\", \"0a7c1bd0-fa32-4c71-a3ce-e4c008193696\"], \"Assets\": [{ \"Id\": \"7b7874aa-7938-467f-8f84-a2a7806b94d9\", \"AssetName\": \"Sapien.avi\", \"AssetType\": \".mii\", \"Price\": \"$7.36\" }, { \"Id\": \"cc48f78c-1edc-45bc-ad39-4486125eff16\", \"AssetName\": \"Ligula.mp3\", \"AssetType\": \".ggb\", \"Price\": \"$3.90\" }, { \"Id\": \"508a069c-51f4-4b90-aee6-3b0f76df8247\", \"AssetName\": \"LobortisVelDapibus.ppt\", \"AssetType\": \".vvz\", \"Price\": \"$4.33\" }] },\n{ \"Id\": \"460dd1f9-6df1-44f9-ab34-7b048b065cda\", \"Title\": \"Bonnie Scotland (Heroes of the Regiment)\", \"CreatedBy\": \"73a9ae38-fa60-4361-b4e7-300e2b5b17b7\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/616x743.png/cc0000/ffffff\", \"http://dummyimage.com/184x641.png/5fa2dd/ffffff\"], \"Description\": \"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.\\n\\nEtiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.\", \"Privacy\": \"Private\", \"Tags\": [{ \"Id\": \"229b2526-6333-499a-bdbf-b79e3071df92\", \"TagName\": \"sqopqrk\" }, { \"Id\": \"8c1b132f-458e-490b-b864-0ebfcc324ccc\", \"TagName\": \"pjhvgcw\" }, { \"Id\": \"20c5ac4c-5ac2-4b76-9745-51c732ec9145\", \"TagName\": \"zryfuto\" }, { \"Id\": \"26c8b3c5-00c2-419a-a087-4f16a9ef7c14\", \"TagName\": \"zaeoupf\" }], \"Category\": \"Minh hoạ\", \"LikeNum\": 655, \"ViewNum\": 1047, \"Comments\": [\"4a98e80e-2661-46b8-a5bf-6d129a497d4d\"], \"Assets\": [{ \"Id\": \"e65c6500-b292-42ce-a08b-b35f2a92ece4\", \"AssetName\": \"Vulputate.avi\", \"AssetType\": \".umz\", \"Price\": \"$0.17\" }, { \"Id\": \"e5d0dc70-df5a-44a6-891c-7836179c6da6\", \"AssetName\": \"LaciniaEratVestibulum.xls\", \"AssetType\": \".fhz\", \"Price\": \"$6.28\" }, { \"Id\": \"f7320939-90dc-4efb-afad-ecb6e72f1f35\", \"AssetName\": \"Integer.mov\", \"AssetType\": \".jqr\", \"Price\": \"$8.96\" }] },\n{ \"Id\": \"7c436cb6-b440-4021-a539-e2a01d24322e\", \"Title\": \"Ghost Writer, The\", \"CreatedBy\": \"b833fc18-90c2-41de-8511-fc91f273e3cf\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/187x558.png/cc0000/ffffff\", \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"], \"Description\": \"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\", \"Privacy\": \"Public\", \"Tags\": [{ \"Id\": \"ce460005-4e5b-4dfa-9fde-ed8ba1935b51\", \"TagName\": \"yfvtdle\" }, { \"Id\": \"8826a8c7-aad1-48e4-b041-aa91ac5b2acb\", \"TagName\": \"izvmaoo\" }, { \"Id\": \"e8f37be7-49d1-4d73-bbaf-85ca06745b7e\", \"TagName\": \"rcnhtyq\" }, { \"Id\": \"bc7e1400-1c8f-4f34-9d68-24d1a7f36ce3\", \"TagName\": \"qobnscp\" }, { \"Id\": \"34e04343-d8c8-4302-b98a-8e0e3f07d0a3\", \"TagName\": \"fleyrmy\" }, { \"Id\": \"add47029-fa6b-4eca-9f8c-d2ae5c145e68\", \"TagName\": \"dcdzgqn\" }, { \"Id\": \"9bf430c7-ffcb-4fb8-925d-a6c0aa221ce5\", \"TagName\": \"woltpff\" }, { \"Id\": \"9d4ee8d9-4d54-4ed4-ab87-8865d82f5bb4\", \"TagName\": \"gidfecv\" }, { \"Id\": \"9d6be8a6-4bb2-4847-be83-1c891d1f5356\", \"TagName\": \"kixbkwb\" }], \"Category\": \"Bìa sách\", \"LikeNum\": 377, \"ViewNum\": 1679, \"Comments\": [\"621e8685-8b1e-471c-b6a4-0dc7b2709263\", \"72f4c235-f613-4d50-8f0a-ba98ed69e44f\", \"462fabaa-3176-400b-ac7c-89bcdff2822f\", \"56112651-5334-4957-8afd-290e50062247\", \"d74b4970-f9f3-439d-9537-bc9a5979bc24\", \"a3e4b461-9030-462e-8506-cbac0ef0550f\", \"5798a36e-b744-4a4a-969e-88216eb39e40\", \"436a0acc-fe90-40cd-a9b3-b70d68895335\"], \"Assets\": [{ \"Id\": \"e34860a6-dfc6-4b1e-9cdf-eff6a6c62c62\", \"AssetName\": \"TurpisDonecPosuere.ppt\", \"AssetType\": \".xvv\", \"Price\": \"$7.60\" }, { \"Id\": \"8203d78c-ad4a-498f-8da5-b88f28a5052d\", \"AssetName\": \"Lorem.avi\", \"AssetType\": \".bdl\", \"Price\": \"$9.93\" }] },\n{ \"Id\": \"b151e4e0-fbcc-4a30-a0d3-cb94bac78dfd\", \"Title\": \"The Winslow Boy\", \"CreatedBy\": \"4b128518-20c5-4561-88cf-50f034214100\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/210x789.png/5fa2dd/ffffff\", \"http://dummyimage.com/350x869.png/5fa2dd/ffffff\", \"http://dummyimage.com/118x610.png/cc0000/ffffff\", \"http://dummyimage.com/564x979.png/dddddd/000000\"], \"Description\": \"Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.\", \"Privacy\": \"Public\", \"Tags\": [{ \"Id\": \"767d412c-9c12-47ce-86d1-e5a772ee1c2b\", \"TagName\": \"bqmuvkr\" }, { \"Id\": \"ce21b4fb-693b-4a8e-a4b4-a22aba2e421b\", \"TagName\": \"tmtgpuv\" }, { \"Id\": \"9e691caf-a5af-4528-94ba-7d0fe3af95d2\", \"TagName\": \"ihyqrqx\" }, { \"Id\": \"f4549a09-1887-4fe3-a764-52e46190c78a\", \"TagName\": \"xzzxiaz\" }, { \"Id\": \"527696a6-cfd8-440f-a6c6-647296354175\", \"TagName\": \"dztlfik\" }, { \"Id\": \"612584c2-3fa0-4627-bc44-4270a380860c\", \"TagName\": \"zpiogyb\" }], \"Category\": \"Tranh vẽ\", \"LikeNum\": 481, \"ViewNum\": 446, \"Comments\": [\"2c0bd230-a05c-4e7e-b8dc-aa0f8e1a6b9a\", \"9ad60d0a-71b5-424b-b6f2-9322bebd9e53\", \"dc49a415-3524-4803-a2c7-e0c9216875be\", \"a3bef30e-ae71-45ea-8b82-93b5d82bc446\", \"cf2946fd-7598-4252-8757-35e73a4728ec\", \"74417fd6-cfb4-43a2-8c2c-aa9bde7e5ae6\", \"4760567b-33c7-4229-ad83-648c0dd1c3bf\"], \"Assets\": [{ \"Id\": \"9f864142-67cc-4b62-aa51-bf27e5077c1a\", \"AssetName\": \"VariusNulla.mpeg\", \"AssetType\": \".bxr\", \"Price\": \"$4.89\" }, { \"Id\": \"77606a08-9e5d-40da-b8e1-09fc98b4fa6c\", \"AssetName\": \"RhoncusAliquamLacus.mov\", \"AssetType\": \".eho\", \"Price\": \"$8.57\" }, { \"Id\": \"e1d7e9c7-054b-4225-ac13-791835c9d953\", \"AssetName\": \"VestibulumQuamSapien.ppt\", \"AssetType\": \".ihc\", \"Price\": \"$2.67\" }] },\n{ \"Id\": \"ad236276-5765-4f3c-bdba-e640fc0f8897\", \"Title\": \"Short Film About Killing, A (Krótki film o zabijaniu)\", \"CreatedBy\": \"9304e2af-fd01-43e1-8294-7327dd3ec0c4\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/109x484.png/dddddd/000000\", \"http://dummyimage.com/600x579.png/5fa2dd/ffffff\"], \"Description\": \"Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\", \"Privacy\": \"Private\", \"Tags\": [{ \"Id\": \"7f0a2b99-379a-40f3-be33-5a1e12d82f8e\", \"TagName\": \"kfnwvvl\" }], \"Category\": \"Minh hoạ\", \"LikeNum\": 791, \"ViewNum\": 830, \"Comments\": [\"93013690-db67-4e14-9a79-eb30c1e4cb35\", \"4ee1a7c6-a6f7-42df-8eb1-c997a33e08a1\", \"65dca41f-667d-4e7e-8046-feb8ad8beba9\", \"8a8eb875-9a11-414d-83ba-f15270d58ce8\", \"6d77c9d6-9d92-4009-88a6-3e0b6f54e7f4\", \"8a648ff9-ed54-43ca-8802-aa3ce9d68b5d\", \"4d39d63f-422b-47dc-a332-c08b684e65ca\", \"4127b9b2-77d2-492a-89ff-36b2653061d1\", \"7474092c-a7ac-4ab1-99f7-d13dee83edc9\", \"a667e11f-9e02-4b55-aa94-c00c77daa160\"], \"Assets\": [] },\n{ \"Id\": \"291cd899-0809-48d4-b230-4a5b84fec385\", \"Title\": \"Hôtel des Invalides\", \"CreatedBy\": \"2ba0c6b0-4402-4432-a397-3338ea992226\", \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\", \"Images\": [\"http://dummyimage.com/647x205.png/ff4444/ffffff\", \"http://dummyimage.com/555x1055.png/5fa2dd/ffffff\", \"http://dummyimage.com/307x764.png/dddddd/000000\", \"http://dummyimage.com/124x416.png/dddddd/000000\"], \"Description\": \"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\", \"Privacy\": \"Private\", \"Tags\": [{ \"Id\": \"1faa3d37-e5e7-4856-b6ed-f68c1e26d345\", \"TagName\": \"bdyarae\" }, { \"Id\": \"1add0fe4-b05c-4319-af68-8e36ecca8345\", \"TagName\": \"sdufabi\" }, { \"Id\": \"cfc0a0a5-dc44-4e44-a073-06b4aeb05fde\", \"TagName\": \"oynxgve\" }, { \"Id\": \"f71da8bc-b0e1-46ed-bc95-470c58caaf40\", \"TagName\": \"nwfmmme\" }, { \"Id\": \"e273a74a-a5da-48fa-85ca-9952173203a4\", \"TagName\": \"mgbrnmg\" }], \"Category\": \"Tranh vẽ\", \"LikeNum\": 904, \"ViewNum\": 1066, \"Comments\": [\"0be0007f-fa04-4bdb-8fec-3bba88c24ac7\"], \"Assets\": [{ \"Id\": \"7cfdb5a2-87a0-4c8d-8db9-19be56a50745\", \"AssetName\": \"NuncProinAt.gif\", \"AssetType\": \".wzo\", \"Price\": \"$7.53\" }, { \"Id\": \"273fab8c-09fb-4fa8-9d16-8933e2a4cd29\", \"AssetName\": \"IdNisl.tiff\", \"AssetType\": \".xdp\", \"Price\": \"$1.98\" }, { \"Id\": \"e80db3c8-7b0e-45ce-b73c-085d986ff8aa\", \"AssetName\": \"Quis.mp3\", \"AssetType\": \".psn\", \"Price\": \"$3.35\" }, { \"Id\": \"8c7d1faf-214c-411f-9c40-8cb736f096d7\", \"AssetName\": \"AcLeoPellentesque.jpeg\", \"AssetType\": \".iqu\", \"Price\": \"$3.89\" }] }];\n\n// msg.payload = mockData.find(artwork => artwork.Id === artworkId)\n\nmsg.payload = mockData.find(artwork => artwork.Id === artworkId);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "86fe91980942c098",
                "efb8cee75377c76b"
            ]
        ]
    },
    {
        "id": "b02dca24591814be",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Account",
        "url": "/account",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 850,
        "y": 40,
        "wires": [
            [
                "41789bab0cb9e30c"
            ]
        ]
    },
    {
        "id": "48f2bda2ef14ec07",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 40,
        "wires": []
    },
    {
        "id": "41789bab0cb9e30c",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 18",
        "func": "// Get the id from param\nlet idAccount = msg.req.params.accountId;\n\n// Query from DB then return the data\nlet mockData = [{\"Id\":\"801156e2-036e-4734-ab23-d761c9e71e06\",\"Fullname\":\"Flemming Solano\",\"Avatar\":\"https://robohash.org/seddoloribusvoluptatem.png?size=50x50&set=set1\",\"Bio\":\"Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.\\n\\nDuis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\",\"Job\":\"Biostatistician III\",\"Address\":\"76 Utah Hill\"},\n{\"Id\":\"678be986-1108-49d2-88ef-4c003209b16e\",\"Fullname\":\"Jaquelyn Dressel\",\"Avatar\":\"https://robohash.org/uteumin.png?size=50x50&set=set1\",\"Bio\":\"Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.\\n\\nIn hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.\\n\\nAliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.\",\"Job\":\"Physical Therapy Assistant\",\"Address\":\"67 Susan Alley\"},\n{\"Id\":\"9d36976e-8a65-40ca-9099-5ea604dad11c\",\"Fullname\":\"Torrie Moutray Read\",\"Avatar\":\"https://robohash.org/estabqui.png?size=50x50&set=set1\",\"Bio\":\"Quisque id justo sit amet sapien dignissim vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est. Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.\\n\\nVestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.\",\"Job\":\"Civil Engineer\",\"Address\":\"5527 Gerald Terrace\"},\n{\"Id\":\"54b2ffcc-2e42-4367-ad5f-982dc1a1727e\",\"Fullname\":\"Cassie Ead\",\"Avatar\":\"https://robohash.org/corrupticommodiipsam.png?size=50x50&set=set1\",\"Bio\":\"Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.\\n\\nMorbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.\",\"Job\":\"Research Associate\",\"Address\":\"514 1st Court\"},\n{\"Id\":\"0cc59de6-93e4-4817-87aa-168ac7f4fb08\",\"Fullname\":\"Andrej Baggiani\",\"Avatar\":\"https://robohash.org/illumexautem.png?size=50x50&set=set1\",\"Bio\":\"Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.\\n\\nPraesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.\\n\\nMorbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.\",\"Job\":\"Database Administrator II\",\"Address\":\"73 Northfield Lane\"},\n{\"Id\":\"3718d937-f5eb-418c-a9d4-0acd0d67b16d\",\"Fullname\":\"Raffaello Androck\",\"Avatar\":\"https://robohash.org/atquesuscipitfugiat.png?size=50x50&set=set1\",\"Bio\":\"Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.\\n\\nMorbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.\\n\\nFusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.\",\"Job\":\"VP Sales\",\"Address\":\"23 Karstens Way\"},\n{\"Id\":\"7d728c7b-2a1a-4771-b869-85fdba32abe0\",\"Fullname\":\"Glen Yekel\",\"Avatar\":\"https://robohash.org/inciduntmaximeet.png?size=50x50&set=set1\",\"Bio\":\"Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.\",\"Job\":\"Office Assistant II\",\"Address\":\"4 Fisk Road\"},\n{\"Id\":\"12e0d697-4628-4a15-a774-ba17fed3d4f9\",\"Fullname\":\"Brittan Stansbie\",\"Avatar\":\"https://robohash.org/distinctiositaut.png?size=50x50&set=set1\",\"Bio\":\"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin risus. Praesent lectus.\",\"Job\":\"Web Developer IV\",\"Address\":\"890 Sloan Pass\"},\n{\"Id\":\"7dcd5560-c87c-421d-a6c3-3abd0f4909e7\",\"Fullname\":\"Tracie Doggerell\",\"Avatar\":\"https://robohash.org/quasharumrerum.png?size=50x50&set=set1\",\"Bio\":\"Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.\\n\\nPraesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio.\",\"Job\":\"Information Systems Manager\",\"Address\":\"588 Kenwood Terrace\"},\n{\"Id\":\"0a9c2f7a-c9cc-4a63-98e5-9fd17deff043\",\"Fullname\":\"Annelise Proudler\",\"Avatar\":\"https://robohash.org/quiasimiliqueperspiciatis.png?size=50x50&set=set1\",\"Bio\":\"In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.\\n\\nAliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.\",\"Job\":\"Assistant Media Planner\",\"Address\":\"98 Rutledge Pass\"}];\n\nmsg.payload = mockData.find(account => account.Id === idAccount)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 40,
        "wires": [
            [
                "48f2bda2ef14ec07"
            ]
        ]
    },
    {
        "id": "929a7443ca3ba1ce",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "aae8961a67f29ee6",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Comments of an Artwork",
        "url": "/artworks/:artworkId/comments",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "d7d1a2ae6d604e0e"
            ]
        ]
    },
    {
        "id": "d7d1a2ae6d604e0e",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 19",
        "func": "// GET COMMENTS DATA FROM DB\n\nlet sampleData = [{\"Id\":\"80f3477f-f25a-455a-8afc-4a65233a53f4\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"99d2fb98-19d1-4fbe-96b2-43999a9bd600\",\"Fullname\":\"Eden Terzi\",\"Avatar\":\"https://robohash.org/voluptatumdistinctiomodi.png?size=50x50&set=set1\"},\"Content\":\"Distributed multi-tasking protocol\"},\n{\"Id\":\"ad5028ac-76a1-476c-b945-1b60dee4990b\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"8a9d743c-e8a8-49a4-9280-c0cc97abf705\",\"Fullname\":\"Babs Bresson\",\"Avatar\":\"https://robohash.org/suscipitquivoluptatibus.png?size=50x50&set=set1\"},\"Content\":\"Ergonomic empowering hub\"},\n{\"Id\":\"0faac407-e7ac-4783-9237-844c08ca3117\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"9bf595fb-1ed3-48df-a3d1-4f8c2d15ac72\",\"Fullname\":\"Kassey Harmer\",\"Avatar\":\"https://robohash.org/rerumdelenitiimpedit.png?size=50x50&set=set1\"},\"Content\":\"Grass-roots real-time instruction set\"},\n{\"Id\":\"10024db2-b793-4c6a-80dc-38c7bb9af0a0\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"d367b710-dc11-40c2-9174-5afdd984fed0\",\"Fullname\":\"Sansone Kubek\",\"Avatar\":\"https://robohash.org/delenitivoluptatemnam.png?size=50x50&set=set1\"},\"Content\":\"Distributed maximized database\"},\n{\"Id\":\"d8e3f337-1abe-466a-a490-ae66f6d0e568\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"734ec3de-a60c-4fe0-98c0-ab84cf51f039\",\"Fullname\":\"Meir Guyet\",\"Avatar\":\"https://robohash.org/voluptatemvelillo.png?size=50x50&set=set1\"},\"Content\":\"Visionary bottom-line hierarchy\"},\n{\"Id\":\"f62257ca-9f4d-4473-ac0e-4078af4e9cd8\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"8f7b488f-956b-443d-9add-35e14fc57b4a\",\"Fullname\":\"Berna Spikeings\",\"Avatar\":\"https://robohash.org/fugitinventoreab.png?size=50x50&set=set1\"},\"Content\":\"Reactive dedicated matrices\"},\n{\"Id\":\"6448fd9e-10c1-424b-a918-79f48f2bda48\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"41c2fac6-251d-4da5-b792-6b61742c0c9f\",\"Fullname\":\"Jerrie Rigge\",\"Avatar\":\"https://robohash.org/quiaundenihil.png?size=50x50&set=set1\"},\"Content\":\"Upgradable logistical utilisation\"},\n{\"Id\":\"035b75f6-e271-4658-8393-bfa82e4971cb\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"53cace5b-00d6-431a-9c79-720f030f3e76\",\"Fullname\":\"Timmy Charrier\",\"Avatar\":\"https://robohash.org/rerumatquealiquid.png?size=50x50&set=set1\"},\"Content\":\"Digitized systemic task-force\"},\n{\"Id\":\"215e740e-1cfc-46f5-9a6d-c7cc92d8202d\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"d4fdffee-ccf5-4138-859d-cb870640edcc\",\"Fullname\":\"Ardis Pulley\",\"Avatar\":\"https://robohash.org/natusfugiatquaerat.png?size=50x50&set=set1\"},\"Content\":\"Operative dedicated framework\"},\n{\"Id\":\"1c62ef88-7baa-4100-ba5d-0c3454e0b44e\",\"CreatedOn\":\"error: invalid date \\\"2023-10-31\\\"\",\"CreatedBy\":{\"Id\":\"6e7a6b72-2d92-4f61-912a-088640108d86\",\"Fullname\":\"Tabbatha Lomb\",\"Avatar\":\"https://robohash.org/aeiusomnis.png?size=50x50&set=set1\"},\"Content\":\"Advanced explicit adapter\"}];\n\nmsg.payload = sampleData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 680,
        "wires": [
            [
                "929a7443ca3ba1ce"
            ]
        ]
    },
    {
        "id": "cd0e71da20d742a2",
        "type": "comment",
        "z": "adcc113084da2426",
        "g": "43c0ca255d8e6bd9",
        "name": "May Redundant",
        "info": "Có khả năng dư thừa vì [GET] Artworks đã lấy đầy đủ thông tin của từng Artwork",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "efb8cee75377c76b",
        "type": "debug",
        "z": "adcc113084da2426",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec7ee92c33848fe4",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 20",
        "func": "let sampleData =\n    [\n        {\n            \"id\": \"e0b1bb5b-4616-4815-90ac-b2fdeb754221\",\n            \"title\": \"Chicago 8, The\",\n            \"createdBy\": \"678be986-1108-49d2-88ef-4c003209b16e\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/309x671.png/cc0000/ffffff\",\n                \"http://dummyimage.com/498x1043.png/dddddd/000000\",\n                \"http://dummyimage.com/277x1030.png/dddddd/000000\"\n            ],\n            \"description\": \"Phasellus in felis. Donec semper sapien a libero. Nam dui.\\n\\nProin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"2b54c7d8-79db-485b-93da-2deee2f305ee\",\n                    \"tagName\": \"ppvidfw\"\n                },\n                {\n                    \"id\": \"ad28536b-752e-4623-ba8a-fc3c7813d313\",\n                    \"tagName\": \"gjmqfrx\"\n                },\n                {\n                    \"id\": \"e75d0021-63e1-4301-9e3a-aa086643386b\",\n                    \"tagName\": \"fkmknvp\"\n                },\n                {\n                    \"id\": \"f4632532-13ed-43c4-8dcd-5ae3190799b1\",\n                    \"tagName\": \"jxyobzg\"\n                },\n                {\n                    \"id\": \"c71ff394-9f4d-412f-9b66-ce2e45cf00a0\",\n                    \"tagName\": \"ittczdc\"\n                },\n                {\n                    \"id\": \"5865578b-71a0-4724-984b-aca0594c8100\",\n                    \"tagName\": \"sbxvmsg\"\n                },\n                {\n                    \"id\": \"a3fe6cbc-5b3a-4d6e-863f-654e1e5cde66\",\n                    \"tagName\": \"fidxwlr\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 193,\n            \"viewNum\": 952,\n            \"comments\": [\n                \"80f3477f-f25a-455a-8afc-4a65233a53f4\",\n                \"ad5028ac-76a1-476c-b945-1b60dee4990b\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"012a6c52-80cb-4154-b531-1613f0a6645c\",\n                    \"assetName\": \"NatoquePenatibusEt.avi\",\n                    \"assetType\": \".zrw\",\n                    \"price\": \"$5.65\"\n                },\n                {\n                    \"id\": \"03f4698f-4c44-47fc-9e20-fb0a1f1ba3be\",\n                    \"assetName\": \"ProinRisusPraesent.mov\",\n                    \"assetType\": \".zuj\",\n                    \"price\": \"$1.72\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"b172b0bc-6e6b-4f0f-8b52-a3d749bd32ac\",\n            \"title\": \"Noah's Arc Principle, The (Arche Noah Prinzip, Das)\",\n            \"createdBy\": \"9d36976e-8a65-40ca-9099-5ea604dad11c\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/293x207.png/ff4444/ffffff\",\n                \"http://dummyimage.com/181x595.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/182x282.png/dddddd/000000\",\n                \"http://dummyimage.com/391x657.png/ff4444/ffffff\",\n                \"http://dummyimage.com/697x615.png/ff4444/ffffff\"\n            ],\n            \"description\": \"In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.\\n\\nAliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.\\n\\nSed ante. Vivamus tortor. Duis mattis egestas metus.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"8307ba12-393c-4446-8c4f-125d0be28de0\",\n                    \"tagName\": \"xikxzcx\"\n                },\n                {\n                    \"id\": \"2d7a6237-66be-4bae-a583-7350e51decf1\",\n                    \"tagName\": \"ggjyqfi\"\n                },\n                {\n                    \"id\": \"eac45233-8b3c-40d2-94b6-276bdaa8c1ed\",\n                    \"tagName\": \"yjbumpy\"\n                },\n                {\n                    \"id\": \"c01ff38e-72ed-4846-b366-aab3d695850e\",\n                    \"tagName\": \"gktxlra\"\n                },\n                {\n                    \"id\": \"417e7527-f851-4699-8451-503995d01001\",\n                    \"tagName\": \"oygbdjr\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 409,\n            \"viewNum\": 1860,\n            \"comments\": [\n                \"1cbe9122-f8a1-4ef3-878f-33d83aa67c2b\",\n                \"c996cfa2-bdd8-42c0-860a-31e3949ae5a8\",\n                \"3fb37314-b7a1-4e14-88d8-f7c24f99b480\",\n                \"92db506b-3576-436e-8a5a-70927db2a176\",\n                \"eb17203e-92df-4899-a92f-e950690ea477\",\n                \"a7f4dd9b-6f74-4fbd-8a8d-f204e44de803\",\n                \"83be4144-ec06-4489-a4ee-342a9d268835\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"6a14ebe8-659b-4008-b193-44090c53fae4\",\n                    \"assetName\": \"Sed.png\",\n                    \"assetType\": \".nvx\",\n                    \"price\": \"$6.52\"\n                },\n                {\n                    \"id\": \"cc801347-dfd2-4461-a067-8fca4de096f9\",\n                    \"assetName\": \"Nonummy.txt\",\n                    \"assetType\": \".ubc\",\n                    \"price\": \"$5.70\"\n                },\n                {\n                    \"id\": \"ab72f51a-3874-4774-b8ce-7b6244f949a8\",\n                    \"assetName\": \"TinciduntInLeo.mpeg\",\n                    \"assetType\": \".lhl\",\n                    \"price\": \"$0.55\"\n                },\n                {\n                    \"id\": \"cecd21de-72d7-419b-ab69-3d959af91821\",\n                    \"assetName\": \"NamDui.xls\",\n                    \"assetType\": \".bpf\",\n                    \"price\": \"$3.98\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"ff1f7496-837e-49ae-92d3-dcf931cd70da\",\n            \"title\": \"Dracula's Daughter\",\n            \"createdBy\": \"54b2ffcc-2e42-4367-ad5f-982dc1a1727e\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/580x569.png/dddddd/000000\",\n                \"http://dummyimage.com/606x613.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"f65adf8b-5c17-4c21-9016-c188b7d697a0\",\n                    \"tagName\": \"suocdoh\"\n                },\n                {\n                    \"id\": \"f821ce56-bf61-4e03-9663-1368096007f2\",\n                    \"tagName\": \"megpdzr\"\n                },\n                {\n                    \"id\": \"69355c18-c3ef-4387-886c-e6ca8b741415\",\n                    \"tagName\": \"ukszegi\"\n                },\n                {\n                    \"id\": \"ff21c902-9b13-4c81-bf59-7ee2ff9c9734\",\n                    \"tagName\": \"hgchfnf\"\n                },\n                {\n                    \"id\": \"3856ffce-97cf-4941-9614-ab592174e9ca\",\n                    \"tagName\": \"nmkuwro\"\n                },\n                {\n                    \"id\": \"50f71086-3df9-4b45-8545-2e961a7a2bfa\",\n                    \"tagName\": \"slzdfis\"\n                },\n                {\n                    \"id\": \"ec36cf32-6676-4eee-b2c4-8a6f11918f9e\",\n                    \"tagName\": \"twbajyr\"\n                },\n                {\n                    \"id\": \"663944d3-d10d-45f8-bf77-eb224db1caad\",\n                    \"tagName\": \"aggbsnk\"\n                },\n                {\n                    \"id\": \"6c1c2822-32f7-4cf7-90e2-56418ac20f32\",\n                    \"tagName\": \"psqgekk\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 0,\n            \"viewNum\": 484,\n            \"comments\": [\n                \"edac5962-7262-495e-985e-82ddf375a536\",\n                \"6cc3a6c7-25e2-4d53-9a44-aa8c20275400\",\n                \"320eb575-34fe-452a-aa93-6852b7f16758\",\n                \"b51faa35-66c0-4c62-8fc3-8be95653440b\",\n                \"6bc8f3ea-d0a8-4019-9a52-7ff522ed4637\",\n                \"0993fef9-b518-43a2-93ae-e2cae9ea2bb0\",\n                \"f2625175-53ca-4a10-be81-963ddbf2f490\",\n                \"5d2fae12-ccc3-406d-8d21-900f599f4877\",\n                \"6da66720-fa3c-448c-bd07-aa03db016ece\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"993b3d31-5574-4e27-922a-aa46e5146866\",\n                    \"assetName\": \"Ut.png\",\n                    \"assetType\": \".ltv\",\n                    \"price\": \"$4.21\"\n                },\n                {\n                    \"id\": \"d1763c6f-7260-4f21-9c08-0d4545eb2eab\",\n                    \"assetName\": \"EstCongueElementum.tiff\",\n                    \"assetType\": \".ghe\",\n                    \"price\": \"$1.49\"\n                },\n                {\n                    \"id\": \"3ab83d1c-1478-40e3-8618-633c2f380e39\",\n                    \"assetName\": \"VelNisl.avi\",\n                    \"assetType\": \".dcr\",\n                    \"price\": \"$3.42\"\n                },\n                {\n                    \"id\": \"9cd4f841-ec03-4fbd-8cc9-eee187cfaca7\",\n                    \"assetName\": \"Sed.mov\",\n                    \"assetType\": \".bcb\",\n                    \"price\": \"$9.03\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"da336b7b-849a-4110-b193-14dde470ba85\",\n            \"title\": \"Don't Bother to Knock\",\n            \"createdBy\": \"801156e2-036e-4734-ab23-d761c9e71e06\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/193x942.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/506x466.png/ff4444/ffffff\",\n                \"http://dummyimage.com/436x247.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/628x790.png/dddddd/000000\"\n            ],\n            \"description\": \"Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.\\n\\nMorbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.\\n\\nFusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"5d894b65-9db2-4cc6-a7bc-b2fb04f6cba7\",\n                    \"tagName\": \"hzxytko\"\n                },\n                {\n                    \"id\": \"c14043e9-b73a-4b7f-91d8-23f0ea1a0cf1\",\n                    \"tagName\": \"esibyej\"\n                },\n                {\n                    \"id\": \"e9a686c4-8e06-4b8a-93f9-a556badc839f\",\n                    \"tagName\": \"uyzpzyt\"\n                },\n                {\n                    \"id\": \"a4e04416-dd7e-4e68-bb8b-9384cf9b6630\",\n                    \"tagName\": \"idunmjt\"\n                },\n                {\n                    \"id\": \"06603d75-bc79-4b63-8996-5a823b17b849\",\n                    \"tagName\": \"pxlybwh\"\n                },\n                {\n                    \"id\": \"451a13d8-bd2c-4c3a-9cb0-acdb1320a610\",\n                    \"tagName\": \"ayzlyze\"\n                },\n                {\n                    \"id\": \"b470f94d-6cf4-49d9-bf56-196171cde03f\",\n                    \"tagName\": \"ebvaotw\"\n                },\n                {\n                    \"id\": \"e433d59e-2e2c-4f86-bec9-d5d78b3fef92\",\n                    \"tagName\": \"dywdcyb\"\n                },\n                {\n                    \"id\": \"e4f06cc5-6109-4132-a882-ffaac38cb4a4\",\n                    \"tagName\": \"tpqfgig\"\n                },\n                {\n                    \"id\": \"5454baf0-547a-4d49-96be-89aef3f03be8\",\n                    \"tagName\": \"rbhumxa\"\n                }\n            ],\n            \"category\": \"Tranh vẽ\",\n            \"likeNum\": 366,\n            \"viewNum\": 133,\n            \"comments\": [\n                \"54936914-5b37-417a-b074-6fde5d3f1a44\",\n                \"b1430045-7d3a-46a4-86f9-4f3612374274\",\n                \"b15b72b1-d385-4c25-8502-1dd4bdb6aa0e\",\n                \"d85c1f96-c7b4-4fdd-9d4c-5c64dc7a60e3\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"37e029df-58af-449b-81d2-3cfe1b2c1619\",\n                    \"assetName\": \"PhasellusIdSapien.doc\",\n                    \"assetType\": \".mtz\",\n                    \"price\": \"$3.23\"\n                },\n                {\n                    \"id\": \"ad1b57a1-ded2-49b3-afe9-35ac9a06f2aa\",\n                    \"assetName\": \"VestibulumVestibulumAnte.jpeg\",\n                    \"assetType\": \".idd\",\n                    \"price\": \"$3.19\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"c0540dae-12e6-4077-8f97-aac805c1b58e\",\n            \"title\": \"Tropical Malady (Sud pralad)\",\n            \"createdBy\": \"0963ed24-ed51-49a7-a142-ebb95e994b88\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/346x110.png/cc0000/ffffff\",\n                \"http://dummyimage.com/310x665.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/624x521.png/dddddd/000000\",\n                \"http://dummyimage.com/646x826.png/cc0000/ffffff\"\n            ],\n            \"description\": \"Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.\\n\\nCurabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"eb3951a2-c12e-439e-9819-0b39a414f3a8\",\n                    \"tagName\": \"qzfkvme\"\n                },\n                {\n                    \"id\": \"9f5fc249-19a3-4fb2-8544-2e51d1229541\",\n                    \"tagName\": \"ynbldcw\"\n                },\n                {\n                    \"id\": \"546bdfee-595f-40d6-ad37-1cb964b3a24f\",\n                    \"tagName\": \"zcbosdi\"\n                }\n            ],\n            \"category\": \"Tranh vẽ\",\n            \"likeNum\": 502,\n            \"viewNum\": 1799,\n            \"comments\": [\n                \"b7cf21b8-1641-4209-85d7-7372fb3b63e4\",\n                \"42b8725b-cb2f-4363-8503-57855cbfc4bf\",\n                \"a7a2caa6-d99a-4e4f-b699-71f6fad988df\",\n                \"595b05dc-111d-4f6b-8e6d-a63ab014b037\",\n                \"0a7c1bd0-fa32-4c71-a3ce-e4c008193696\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"7b7874aa-7938-467f-8f84-a2a7806b94d9\",\n                    \"assetName\": \"Sapien.avi\",\n                    \"assetType\": \".mii\",\n                    \"price\": \"$7.36\"\n                },\n                {\n                    \"id\": \"cc48f78c-1edc-45bc-ad39-4486125eff16\",\n                    \"assetName\": \"Ligula.mp3\",\n                    \"assetType\": \".ggb\",\n                    \"price\": \"$3.90\"\n                },\n                {\n                    \"id\": \"508a069c-51f4-4b90-aee6-3b0f76df8247\",\n                    \"assetName\": \"LobortisVelDapibus.ppt\",\n                    \"assetType\": \".vvz\",\n                    \"price\": \"$4.33\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"460dd1f9-6df1-44f9-ab34-7b048b065cda\",\n            \"title\": \"Bonnie Scotland (Heroes of the Regiment)\",\n            \"createdBy\": \"73a9ae38-fa60-4361-b4e7-300e2b5b17b7\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/616x743.png/cc0000/ffffff\",\n                \"http://dummyimage.com/184x641.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.\\n\\nEtiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"229b2526-6333-499a-bdbf-b79e3071df92\",\n                    \"tagName\": \"sqopqrk\"\n                },\n                {\n                    \"id\": \"8c1b132f-458e-490b-b864-0ebfcc324ccc\",\n                    \"tagName\": \"pjhvgcw\"\n                },\n                {\n                    \"id\": \"20c5ac4c-5ac2-4b76-9745-51c732ec9145\",\n                    \"tagName\": \"zryfuto\"\n                },\n                {\n                    \"id\": \"26c8b3c5-00c2-419a-a087-4f16a9ef7c14\",\n                    \"tagName\": \"zaeoupf\"\n                }\n            ],\n            \"category\": \"Minh hoạ\",\n            \"likeNum\": 655,\n            \"viewNum\": 1047,\n            \"comments\": [\n                \"4a98e80e-2661-46b8-a5bf-6d129a497d4d\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"e65c6500-b292-42ce-a08b-b35f2a92ece4\",\n                    \"assetName\": \"Vulputate.avi\",\n                    \"assetType\": \".umz\",\n                    \"price\": \"$0.17\"\n                },\n                {\n                    \"id\": \"e5d0dc70-df5a-44a6-891c-7836179c6da6\",\n                    \"assetName\": \"LaciniaEratVestibulum.xls\",\n                    \"assetType\": \".fhz\",\n                    \"price\": \"$6.28\"\n                },\n                {\n                    \"id\": \"f7320939-90dc-4efb-afad-ecb6e72f1f35\",\n                    \"assetName\": \"Integer.mov\",\n                    \"assetType\": \".jqr\",\n                    \"price\": \"$8.96\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"7c436cb6-b440-4021-a539-e2a01d24322e\",\n            \"title\": \"Ghost Writer, The\",\n            \"createdBy\": \"b833fc18-90c2-41de-8511-fc91f273e3cf\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/187x558.png/cc0000/ffffff\",\n                \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"ce460005-4e5b-4dfa-9fde-ed8ba1935b51\",\n                    \"tagName\": \"yfvtdle\"\n                },\n                {\n                    \"id\": \"8826a8c7-aad1-48e4-b041-aa91ac5b2acb\",\n                    \"tagName\": \"izvmaoo\"\n                },\n                {\n                    \"id\": \"e8f37be7-49d1-4d73-bbaf-85ca06745b7e\",\n                    \"tagName\": \"rcnhtyq\"\n                },\n                {\n                    \"id\": \"bc7e1400-1c8f-4f34-9d68-24d1a7f36ce3\",\n                    \"tagName\": \"qobnscp\"\n                },\n                {\n                    \"id\": \"34e04343-d8c8-4302-b98a-8e0e3f07d0a3\",\n                    \"tagName\": \"fleyrmy\"\n                },\n                {\n                    \"id\": \"add47029-fa6b-4eca-9f8c-d2ae5c145e68\",\n                    \"tagName\": \"dcdzgqn\"\n                },\n                {\n                    \"id\": \"9bf430c7-ffcb-4fb8-925d-a6c0aa221ce5\",\n                    \"tagName\": \"woltpff\"\n                },\n                {\n                    \"id\": \"9d4ee8d9-4d54-4ed4-ab87-8865d82f5bb4\",\n                    \"tagName\": \"gidfecv\"\n                },\n                {\n                    \"id\": \"9d6be8a6-4bb2-4847-be83-1c891d1f5356\",\n                    \"tagName\": \"kixbkwb\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 377,\n            \"viewNum\": 1679,\n            \"comments\": [\n                \"621e8685-8b1e-471c-b6a4-0dc7b2709263\",\n                \"72f4c235-f613-4d50-8f0a-ba98ed69e44f\",\n                \"462fabaa-3176-400b-ac7c-89bcdff2822f\",\n                \"56112651-5334-4957-8afd-290e50062247\",\n                \"d74b4970-f9f3-439d-9537-bc9a5979bc24\",\n                \"a3e4b461-9030-462e-8506-cbac0ef0550f\",\n                \"5798a36e-b744-4a4a-969e-88216eb39e40\",\n                \"436a0acc-fe90-40cd-a9b3-b70d68895335\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"e34860a6-dfc6-4b1e-9cdf-eff6a6c62c62\",\n                    \"assetName\": \"TurpisDonecPosuere.ppt\",\n                    \"assetType\": \".xvv\",\n                    \"price\": \"$7.60\"\n                },\n                {\n                    \"id\": \"8203d78c-ad4a-498f-8da5-b88f28a5052d\",\n                    \"assetName\": \"Lorem.avi\",\n                    \"assetType\": \".bdl\",\n                    \"price\": \"$9.93\"\n                }\n            ]\n        }\n        ,\n        {\n            \"Id\": \"b151e4e0-fbcc-4a30-a0d3-cb94bac78dfd\",\n            \"Title\": \"The Winslow Boy\",\n            \"CreatedBy\": \"4b128518-20c5-4561-88cf-50f034214100\",\n            \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"Images\": [\n                \"http://dummyimage.com/210x789.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/350x869.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/118x610.png/cc0000/ffffff\",\n                \"http://dummyimage.com/564x979.png/dddddd/000000\"\n            ],\n            \"Description\": \"Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.\",\n            \"Privacy\": \"Public\",\n            \"Tags\": [\n                {\n                    \"Id\": \"767d412c-9c12-47ce-86d1-e5a772ee1c2b\",\n                    \"TagName\": \"bqmuvkr\"\n                },\n                {\n                    \"Id\": \"ce21b4fb-693b-4a8e-a4b4-a22aba2e421b\",\n                    \"TagName\": \"tmtgpuv\"\n                },\n                {\n                    \"Id\": \"9e691caf-a5af-4528-94ba-7d0fe3af95d2\",\n                    \"TagName\": \"ihyqrqx\"\n                },\n                {\n                    \"Id\": \"f4549a09-1887-4fe3-a764-52e46190c78a\",\n                    \"TagName\": \"xzzxiaz\"\n                },\n                {\n                    \"Id\": \"527696a6-cfd8-440f-a6c6-647296354175\",\n                    \"TagName\": \"dztlfik\"\n                },\n                {\n                    \"Id\": \"612584c2-3fa0-4627-bc44-4270a380860c\",\n                    \"TagName\": \"zpiogyb\"\n                }\n            ],\n            \"Category\": \"Tranh vẽ\",\n            \"LikeNum\": 481,\n            \"ViewNum\": 446,\n            \"Comments\": [\n                \"2c0bd230-a05c-4e7e-b8dc-aa0f8e1a6b9a\",\n                \"9ad60d0a-71b5-424b-b6f2-9322bebd9e53\",\n                \"dc49a415-3524-4803-a2c7-e0c9216875be\",\n                \"a3bef30e-ae71-45ea-8b82-93b5d82bc446\",\n                \"cf2946fd-7598-4252-8757-35e73a4728ec\",\n                \"74417fd6-cfb4-43a2-8c2c-aa9bde7e5ae6\",\n                \"4760567b-33c7-4229-ad83-648c0dd1c3bf\"\n            ],\n            \"Assets\": [\n                {\n                    \"Id\": \"9f864142-67cc-4b62-aa51-bf27e5077c1a\",\n                    \"AssetName\": \"VariusNulla.mpeg\",\n                    \"AssetType\": \".bxr\",\n                    \"Price\": \"$4.89\"\n                },\n                {\n                    \"Id\": \"77606a08-9e5d-40da-b8e1-09fc98b4fa6c\",\n                    \"AssetName\": \"RhoncusAliquamLacus.mov\",\n                    \"AssetType\": \".eho\",\n                    \"Price\": \"$8.57\"\n                },\n                {\n                    \"Id\": \"e1d7e9c7-054b-4225-ac13-791835c9d953\",\n                    \"AssetName\": \"VestibulumQuamSapien.ppt\",\n                    \"AssetType\": \".ihc\",\n                    \"Price\": \"$2.67\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"ad236276-5765-4f3c-bdba-e640fc0f8897\",\n            \"title\": \"Short Film About Killing, A (Krótki film o zabijaniu)\",\n            \"createdBy\": \"9304e2af-fd01-43e1-8294-7327dd3ec0c4\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/109x484.png/dddddd/000000\",\n                \"http://dummyimage.com/600x579.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"7f0a2b99-379a-40f3-be33-5a1e12d82f8e\",\n                    \"tagName\": \"kfnwvvl\"\n                }\n            ],\n            \"category\": \"Minh hoạ\",\n            \"likeNum\": 791,\n            \"viewNum\": 830,\n            \"comments\": [\n                \"93013690-db67-4e14-9a79-eb30c1e4cb35\",\n                \"4ee1a7c6-a6f7-42df-8eb1-c997a33e08a1\",\n                \"65dca41f-667d-4e7e-8046-feb8ad8beba9\",\n                \"8a8eb875-9a11-414d-83ba-f15270d58ce8\",\n                \"6d77c9d6-9d92-4009-88a6-3e0b6f54e7f4\",\n                \"8a648ff9-ed54-43ca-8802-aa3ce9d68b5d\",\n                \"4d39d63f-422b-47dc-a332-c08b684e65ca\",\n                \"4127b9b2-77d2-492a-89ff-36b2653061d1\",\n                \"7474092c-a7ac-4ab1-99f7-d13dee83edc9\",\n                \"a667e11f-9e02-4b55-aa94-c00c77daa160\"\n            ],\n            \"assets\": []\n        }\n        ,\n        {\n            \"id\": \"291cd899-0809-48d4-b230-4a5b84fec385\",\n            \"title\": \"Hôtel des Invalides\",\n            \"createdBy\": \"2ba0c6b0-4402-4432-a397-3338ea992226\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/647x205.png/ff4444/ffffff\",\n                \"http://dummyimage.com/555x1055.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/307x764.png/dddddd/000000\",\n                \"http://dummyimage.com/124x416.png/dddddd/000000\"\n            ],\n            \"description\": \"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"1faa3d37-e5e7-4856-b6ed-f68c1e26d345\",\n                    \"tagName\": \"bdyarae\"\n                },\n                {\n                    \"id\": \"1add0fe4-b05c-4319-af68-8e36ecca8345\",\n                    \"tagName\": \"sdufabi\"\n                },\n                {\n                    \"id\": \"cfc0a0a5-dc44-4e44-a073-06b4aeb05fde\",\n                    \"tagName\": \"oynxgve\"\n                },\n                {\n                    \"id\": \"f71da8bc-b0e1-46ed-bc95-470c58caaf40\",\n                    \"tagName\": \"nwfmmme\"\n                },\n                {\n                    \"id\": \"e273a74a-a5da-48fa-85ca-9952173203a4\",\n                    \"tagName\": \"mgbrnmg\"\n                }\n            ],\n            \"category\": \"Tranh vẽ\",\n            \"likeNum\": 904,\n            \"viewNum\": 1066,\n            \"comments\": [\n                \"0be0007f-fa04-4bdb-8fec-3bba88c24ac7\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"7cfdb5a2-87a0-4c8d-8db9-19be56a50745\",\n                    \"assetName\": \"NuncProinAt.gif\",\n                    \"assetType\": \".wzo\",\n                    \"price\": \"$7.53\"\n                },\n                {\n                    \"id\": \"273fab8c-09fb-4fa8-9d16-8933e2a4cd29\",\n                    \"assetName\": \"IdNisl.tiff\",\n                    \"assetType\": \".xdp\",\n                    \"price\": \"$1.98\"\n                },\n                {\n                    \"id\": \"e80db3c8-7b0e-45ce-b73c-085d986ff8aa\",\n                    \"assetName\": \"Quis.mp3\",\n                    \"assetType\": \".psn\",\n                    \"price\": \"$3.35\"\n                },\n                {\n                    \"id\": \"8c7d1faf-214c-411f-9c40-8cb736f096d7\",\n                    \"assetName\": \"AcLeoPellentesque.jpeg\",\n                    \"assetType\": \".iqu\",\n                    \"price\": \"$3.89\"\n                }\n            ]\n        }\n    ];\n\nmsg.payload = sampleData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "5032229fb0b8a221"
            ]
        ]
    },
    {
        "id": "5032229fb0b8a221",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1280,
        "y": 200,
        "wires": []
    },
    {
        "id": "3971dd1d26e5004a",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Recent Artworks",
        "url": "/news",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "ec7ee92c33848fe4"
            ]
        ]
    },
    {
        "id": "3fee0cf3dcdd0a8d",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 21",
        "func": "// GET TAGS DATA FROM DB\n\nlet sampleData =\n    [\n        {\n            \"id\": \"ad236276-5765-4f3c-bdba-e640fc0f8897\",\n            \"title\": \"Short Film About Killing, A (Krótki film o zabijaniu)\",\n            \"createdBy\": \"9304e2af-fd01-43e1-8294-7327dd3ec0c4\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/109x484.png/dddddd/000000\",\n                \"http://dummyimage.com/600x579.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"7f0a2b99-379a-40f3-be33-5a1e12d82f8e\",\n                    \"tagName\": \"kfnwvvl\"\n                }\n            ],\n            \"category\": \"Minh hoạ\",\n            \"likeNum\": 791,\n            \"viewNum\": 830,\n            \"comments\": [\n                \"93013690-db67-4e14-9a79-eb30c1e4cb35\",\n                \"4ee1a7c6-a6f7-42df-8eb1-c997a33e08a1\",\n                \"65dca41f-667d-4e7e-8046-feb8ad8beba9\",\n                \"8a8eb875-9a11-414d-83ba-f15270d58ce8\",\n                \"6d77c9d6-9d92-4009-88a6-3e0b6f54e7f4\",\n                \"8a648ff9-ed54-43ca-8802-aa3ce9d68b5d\",\n                \"4d39d63f-422b-47dc-a332-c08b684e65ca\",\n                \"4127b9b2-77d2-492a-89ff-36b2653061d1\",\n                \"7474092c-a7ac-4ab1-99f7-d13dee83edc9\",\n                \"a667e11f-9e02-4b55-aa94-c00c77daa160\"\n            ],\n            \"assets\": []\n        }\n        ,\n        {\n            \"id\": \"291cd899-0809-48d4-b230-4a5b84fec385\",\n            \"title\": \"Hôtel des Invalides\",\n            \"createdBy\": \"2ba0c6b0-4402-4432-a397-3338ea992226\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/647x205.png/ff4444/ffffff\",\n                \"http://dummyimage.com/555x1055.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/307x764.png/dddddd/000000\",\n                \"http://dummyimage.com/124x416.png/dddddd/000000\"\n            ],\n            \"description\": \"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"1faa3d37-e5e7-4856-b6ed-f68c1e26d345\",\n                    \"tagName\": \"bdyarae\"\n                },\n                {\n                    \"id\": \"1add0fe4-b05c-4319-af68-8e36ecca8345\",\n                    \"tagName\": \"sdufabi\"\n                },\n                {\n                    \"id\": \"cfc0a0a5-dc44-4e44-a073-06b4aeb05fde\",\n                    \"tagName\": \"oynxgve\"\n                },\n                {\n                    \"id\": \"f71da8bc-b0e1-46ed-bc95-470c58caaf40\",\n                    \"tagName\": \"nwfmmme\"\n                },\n                {\n                    \"id\": \"e273a74a-a5da-48fa-85ca-9952173203a4\",\n                    \"tagName\": \"mgbrnmg\"\n                }\n            ],\n            \"category\": \"Tranh vẽ\",\n            \"likeNum\": 904,\n            \"viewNum\": 1066,\n            \"comments\": [\n                \"0be0007f-fa04-4bdb-8fec-3bba88c24ac7\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"7cfdb5a2-87a0-4c8d-8db9-19be56a50745\",\n                    \"assetName\": \"NuncProinAt.gif\",\n                    \"assetType\": \".wzo\",\n                    \"price\": \"$7.53\"\n                },\n                {\n                    \"id\": \"273fab8c-09fb-4fa8-9d16-8933e2a4cd29\",\n                    \"assetName\": \"IdNisl.tiff\",\n                    \"assetType\": \".xdp\",\n                    \"price\": \"$1.98\"\n                },\n                {\n                    \"id\": \"e80db3c8-7b0e-45ce-b73c-085d986ff8aa\",\n                    \"assetName\": \"Quis.mp3\",\n                    \"assetType\": \".psn\",\n                    \"price\": \"$3.35\"\n                },\n                {\n                    \"id\": \"8c7d1faf-214c-411f-9c40-8cb736f096d7\",\n                    \"assetName\": \"AcLeoPellentesque.jpeg\",\n                    \"assetType\": \".iqu\",\n                    \"price\": \"$3.89\"\n                }\n            ]\n        },\n        {\n            \"id\": \"e0b1bb5b-4616-4815-90ac-b2fdeb754221\",\n            \"title\": \"Chicago 8, The\",\n            \"createdBy\": \"678be986-1108-49d2-88ef-4c003209b16e\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/309x671.png/cc0000/ffffff\",\n                \"http://dummyimage.com/498x1043.png/dddddd/000000\",\n                \"http://dummyimage.com/277x1030.png/dddddd/000000\"\n            ],\n            \"description\": \"Phasellus in felis. Donec semper sapien a libero. Nam dui.\\n\\nProin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.\\n\\nInteger ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"2b54c7d8-79db-485b-93da-2deee2f305ee\",\n                    \"tagName\": \"ppvidfw\"\n                },\n                {\n                    \"id\": \"ad28536b-752e-4623-ba8a-fc3c7813d313\",\n                    \"tagName\": \"gjmqfrx\"\n                },\n                {\n                    \"id\": \"e75d0021-63e1-4301-9e3a-aa086643386b\",\n                    \"tagName\": \"fkmknvp\"\n                },\n                {\n                    \"id\": \"f4632532-13ed-43c4-8dcd-5ae3190799b1\",\n                    \"tagName\": \"jxyobzg\"\n                },\n                {\n                    \"id\": \"c71ff394-9f4d-412f-9b66-ce2e45cf00a0\",\n                    \"tagName\": \"ittczdc\"\n                },\n                {\n                    \"id\": \"5865578b-71a0-4724-984b-aca0594c8100\",\n                    \"tagName\": \"sbxvmsg\"\n                },\n                {\n                    \"id\": \"a3fe6cbc-5b3a-4d6e-863f-654e1e5cde66\",\n                    \"tagName\": \"fidxwlr\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 193,\n            \"viewNum\": 952,\n            \"comments\": [\n                \"80f3477f-f25a-455a-8afc-4a65233a53f4\",\n                \"ad5028ac-76a1-476c-b945-1b60dee4990b\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"012a6c52-80cb-4154-b531-1613f0a6645c\",\n                    \"assetName\": \"NatoquePenatibusEt.avi\",\n                    \"assetType\": \".zrw\",\n                    \"price\": \"$5.65\"\n                },\n                {\n                    \"id\": \"03f4698f-4c44-47fc-9e20-fb0a1f1ba3be\",\n                    \"assetName\": \"ProinRisusPraesent.mov\",\n                    \"assetType\": \".zuj\",\n                    \"price\": \"$1.72\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"b172b0bc-6e6b-4f0f-8b52-a3d749bd32ac\",\n            \"title\": \"Noah's Arc Principle, The (Arche Noah Prinzip, Das)\",\n            \"createdBy\": \"9d36976e-8a65-40ca-9099-5ea604dad11c\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/293x207.png/ff4444/ffffff\",\n                \"http://dummyimage.com/181x595.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/182x282.png/dddddd/000000\",\n                \"http://dummyimage.com/391x657.png/ff4444/ffffff\",\n                \"http://dummyimage.com/697x615.png/ff4444/ffffff\"\n            ],\n            \"description\": \"In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.\\n\\nAliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.\\n\\nSed ante. Vivamus tortor. Duis mattis egestas metus.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"8307ba12-393c-4446-8c4f-125d0be28de0\",\n                    \"tagName\": \"xikxzcx\"\n                },\n                {\n                    \"id\": \"2d7a6237-66be-4bae-a583-7350e51decf1\",\n                    \"tagName\": \"ggjyqfi\"\n                },\n                {\n                    \"id\": \"eac45233-8b3c-40d2-94b6-276bdaa8c1ed\",\n                    \"tagName\": \"yjbumpy\"\n                },\n                {\n                    \"id\": \"c01ff38e-72ed-4846-b366-aab3d695850e\",\n                    \"tagName\": \"gktxlra\"\n                },\n                {\n                    \"id\": \"417e7527-f851-4699-8451-503995d01001\",\n                    \"tagName\": \"oygbdjr\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 409,\n            \"viewNum\": 1860,\n            \"comments\": [\n                \"1cbe9122-f8a1-4ef3-878f-33d83aa67c2b\",\n                \"c996cfa2-bdd8-42c0-860a-31e3949ae5a8\",\n                \"3fb37314-b7a1-4e14-88d8-f7c24f99b480\",\n                \"92db506b-3576-436e-8a5a-70927db2a176\",\n                \"eb17203e-92df-4899-a92f-e950690ea477\",\n                \"a7f4dd9b-6f74-4fbd-8a8d-f204e44de803\",\n                \"83be4144-ec06-4489-a4ee-342a9d268835\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"6a14ebe8-659b-4008-b193-44090c53fae4\",\n                    \"assetName\": \"Sed.png\",\n                    \"assetType\": \".nvx\",\n                    \"price\": \"$6.52\"\n                },\n                {\n                    \"id\": \"cc801347-dfd2-4461-a067-8fca4de096f9\",\n                    \"assetName\": \"Nonummy.txt\",\n                    \"assetType\": \".ubc\",\n                    \"price\": \"$5.70\"\n                },\n                {\n                    \"id\": \"ab72f51a-3874-4774-b8ce-7b6244f949a8\",\n                    \"assetName\": \"TinciduntInLeo.mpeg\",\n                    \"assetType\": \".lhl\",\n                    \"price\": \"$0.55\"\n                },\n                {\n                    \"id\": \"cecd21de-72d7-419b-ab69-3d959af91821\",\n                    \"assetName\": \"NamDui.xls\",\n                    \"assetType\": \".bpf\",\n                    \"price\": \"$3.98\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"ff1f7496-837e-49ae-92d3-dcf931cd70da\",\n            \"title\": \"Dracula's Daughter\",\n            \"createdBy\": \"54b2ffcc-2e42-4367-ad5f-982dc1a1727e\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/580x569.png/dddddd/000000\",\n                \"http://dummyimage.com/606x613.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"f65adf8b-5c17-4c21-9016-c188b7d697a0\",\n                    \"tagName\": \"suocdoh\"\n                },\n                {\n                    \"id\": \"f821ce56-bf61-4e03-9663-1368096007f2\",\n                    \"tagName\": \"megpdzr\"\n                },\n                {\n                    \"id\": \"69355c18-c3ef-4387-886c-e6ca8b741415\",\n                    \"tagName\": \"ukszegi\"\n                },\n                {\n                    \"id\": \"ff21c902-9b13-4c81-bf59-7ee2ff9c9734\",\n                    \"tagName\": \"hgchfnf\"\n                },\n                {\n                    \"id\": \"3856ffce-97cf-4941-9614-ab592174e9ca\",\n                    \"tagName\": \"nmkuwro\"\n                },\n                {\n                    \"id\": \"50f71086-3df9-4b45-8545-2e961a7a2bfa\",\n                    \"tagName\": \"slzdfis\"\n                },\n                {\n                    \"id\": \"ec36cf32-6676-4eee-b2c4-8a6f11918f9e\",\n                    \"tagName\": \"twbajyr\"\n                },\n                {\n                    \"id\": \"663944d3-d10d-45f8-bf77-eb224db1caad\",\n                    \"tagName\": \"aggbsnk\"\n                },\n                {\n                    \"id\": \"6c1c2822-32f7-4cf7-90e2-56418ac20f32\",\n                    \"tagName\": \"psqgekk\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 0,\n            \"viewNum\": 484,\n            \"comments\": [\n                \"edac5962-7262-495e-985e-82ddf375a536\",\n                \"6cc3a6c7-25e2-4d53-9a44-aa8c20275400\",\n                \"320eb575-34fe-452a-aa93-6852b7f16758\",\n                \"b51faa35-66c0-4c62-8fc3-8be95653440b\",\n                \"6bc8f3ea-d0a8-4019-9a52-7ff522ed4637\",\n                \"0993fef9-b518-43a2-93ae-e2cae9ea2bb0\",\n                \"f2625175-53ca-4a10-be81-963ddbf2f490\",\n                \"5d2fae12-ccc3-406d-8d21-900f599f4877\",\n                \"6da66720-fa3c-448c-bd07-aa03db016ece\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"993b3d31-5574-4e27-922a-aa46e5146866\",\n                    \"assetName\": \"Ut.png\",\n                    \"assetType\": \".ltv\",\n                    \"price\": \"$4.21\"\n                },\n                {\n                    \"id\": \"d1763c6f-7260-4f21-9c08-0d4545eb2eab\",\n                    \"assetName\": \"EstCongueElementum.tiff\",\n                    \"assetType\": \".ghe\",\n                    \"price\": \"$1.49\"\n                },\n                {\n                    \"id\": \"3ab83d1c-1478-40e3-8618-633c2f380e39\",\n                    \"assetName\": \"VelNisl.avi\",\n                    \"assetType\": \".dcr\",\n                    \"price\": \"$3.42\"\n                },\n                {\n                    \"id\": \"9cd4f841-ec03-4fbd-8cc9-eee187cfaca7\",\n                    \"assetName\": \"Sed.mov\",\n                    \"assetType\": \".bcb\",\n                    \"price\": \"$9.03\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"da336b7b-849a-4110-b193-14dde470ba85\",\n            \"title\": \"Don't Bother to Knock\",\n            \"createdBy\": \"801156e2-036e-4734-ab23-d761c9e71e06\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/193x942.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/506x466.png/ff4444/ffffff\",\n                \"http://dummyimage.com/436x247.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/628x790.png/dddddd/000000\"\n            ],\n            \"description\": \"Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.\\n\\nMorbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.\\n\\nFusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"5d894b65-9db2-4cc6-a7bc-b2fb04f6cba7\",\n                    \"tagName\": \"hzxytko\"\n                },\n                {\n                    \"id\": \"c14043e9-b73a-4b7f-91d8-23f0ea1a0cf1\",\n                    \"tagName\": \"esibyej\"\n                },\n                {\n                    \"id\": \"e9a686c4-8e06-4b8a-93f9-a556badc839f\",\n                    \"tagName\": \"uyzpzyt\"\n                },\n                {\n                    \"id\": \"a4e04416-dd7e-4e68-bb8b-9384cf9b6630\",\n                    \"tagName\": \"idunmjt\"\n                },\n                {\n                    \"id\": \"06603d75-bc79-4b63-8996-5a823b17b849\",\n                    \"tagName\": \"pxlybwh\"\n                },\n                {\n                    \"id\": \"451a13d8-bd2c-4c3a-9cb0-acdb1320a610\",\n                    \"tagName\": \"ayzlyze\"\n                },\n                {\n                    \"id\": \"b470f94d-6cf4-49d9-bf56-196171cde03f\",\n                    \"tagName\": \"ebvaotw\"\n                },\n                {\n                    \"id\": \"e433d59e-2e2c-4f86-bec9-d5d78b3fef92\",\n                    \"tagName\": \"dywdcyb\"\n                },\n                {\n                    \"id\": \"e4f06cc5-6109-4132-a882-ffaac38cb4a4\",\n                    \"tagName\": \"tpqfgig\"\n                },\n                {\n                    \"id\": \"5454baf0-547a-4d49-96be-89aef3f03be8\",\n                    \"tagName\": \"rbhumxa\"\n                }\n            ],\n            \"category\": \"Tranh vẽ\",\n            \"likeNum\": 366,\n            \"viewNum\": 133,\n            \"comments\": [\n                \"54936914-5b37-417a-b074-6fde5d3f1a44\",\n                \"b1430045-7d3a-46a4-86f9-4f3612374274\",\n                \"b15b72b1-d385-4c25-8502-1dd4bdb6aa0e\",\n                \"d85c1f96-c7b4-4fdd-9d4c-5c64dc7a60e3\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"37e029df-58af-449b-81d2-3cfe1b2c1619\",\n                    \"assetName\": \"PhasellusIdSapien.doc\",\n                    \"assetType\": \".mtz\",\n                    \"price\": \"$3.23\"\n                },\n                {\n                    \"id\": \"ad1b57a1-ded2-49b3-afe9-35ac9a06f2aa\",\n                    \"assetName\": \"VestibulumVestibulumAnte.jpeg\",\n                    \"assetType\": \".idd\",\n                    \"price\": \"$3.19\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"c0540dae-12e6-4077-8f97-aac805c1b58e\",\n            \"title\": \"Tropical Malady (Sud pralad)\",\n            \"createdBy\": \"0963ed24-ed51-49a7-a142-ebb95e994b88\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/346x110.png/cc0000/ffffff\",\n                \"http://dummyimage.com/310x665.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/624x521.png/dddddd/000000\",\n                \"http://dummyimage.com/646x826.png/cc0000/ffffff\"\n            ],\n            \"description\": \"Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.\\n\\nCurabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"eb3951a2-c12e-439e-9819-0b39a414f3a8\",\n                    \"tagName\": \"qzfkvme\"\n                },\n                {\n                    \"id\": \"9f5fc249-19a3-4fb2-8544-2e51d1229541\",\n                    \"tagName\": \"ynbldcw\"\n                },\n                {\n                    \"id\": \"546bdfee-595f-40d6-ad37-1cb964b3a24f\",\n                    \"tagName\": \"zcbosdi\"\n                }\n            ],\n            \"category\": \"Tranh vẽ\",\n            \"likeNum\": 502,\n            \"viewNum\": 1799,\n            \"comments\": [\n                \"b7cf21b8-1641-4209-85d7-7372fb3b63e4\",\n                \"42b8725b-cb2f-4363-8503-57855cbfc4bf\",\n                \"a7a2caa6-d99a-4e4f-b699-71f6fad988df\",\n                \"595b05dc-111d-4f6b-8e6d-a63ab014b037\",\n                \"0a7c1bd0-fa32-4c71-a3ce-e4c008193696\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"7b7874aa-7938-467f-8f84-a2a7806b94d9\",\n                    \"assetName\": \"Sapien.avi\",\n                    \"assetType\": \".mii\",\n                    \"price\": \"$7.36\"\n                },\n                {\n                    \"id\": \"cc48f78c-1edc-45bc-ad39-4486125eff16\",\n                    \"assetName\": \"Ligula.mp3\",\n                    \"assetType\": \".ggb\",\n                    \"price\": \"$3.90\"\n                },\n                {\n                    \"id\": \"508a069c-51f4-4b90-aee6-3b0f76df8247\",\n                    \"assetName\": \"LobortisVelDapibus.ppt\",\n                    \"assetType\": \".vvz\",\n                    \"price\": \"$4.33\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"460dd1f9-6df1-44f9-ab34-7b048b065cda\",\n            \"title\": \"Bonnie Scotland (Heroes of the Regiment)\",\n            \"createdBy\": \"73a9ae38-fa60-4361-b4e7-300e2b5b17b7\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/616x743.png/cc0000/ffffff\",\n                \"http://dummyimage.com/184x641.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.\\n\\nEtiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.\",\n            \"privacy\": \"Private\",\n            \"tags\": [\n                {\n                    \"id\": \"229b2526-6333-499a-bdbf-b79e3071df92\",\n                    \"tagName\": \"sqopqrk\"\n                },\n                {\n                    \"id\": \"8c1b132f-458e-490b-b864-0ebfcc324ccc\",\n                    \"tagName\": \"pjhvgcw\"\n                },\n                {\n                    \"id\": \"20c5ac4c-5ac2-4b76-9745-51c732ec9145\",\n                    \"tagName\": \"zryfuto\"\n                },\n                {\n                    \"id\": \"26c8b3c5-00c2-419a-a087-4f16a9ef7c14\",\n                    \"tagName\": \"zaeoupf\"\n                }\n            ],\n            \"category\": \"Minh hoạ\",\n            \"likeNum\": 655,\n            \"viewNum\": 1047,\n            \"comments\": [\n                \"4a98e80e-2661-46b8-a5bf-6d129a497d4d\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"e65c6500-b292-42ce-a08b-b35f2a92ece4\",\n                    \"assetName\": \"Vulputate.avi\",\n                    \"assetType\": \".umz\",\n                    \"price\": \"$0.17\"\n                },\n                {\n                    \"id\": \"e5d0dc70-df5a-44a6-891c-7836179c6da6\",\n                    \"assetName\": \"LaciniaEratVestibulum.xls\",\n                    \"assetType\": \".fhz\",\n                    \"price\": \"$6.28\"\n                },\n                {\n                    \"id\": \"f7320939-90dc-4efb-afad-ecb6e72f1f35\",\n                    \"assetName\": \"Integer.mov\",\n                    \"assetType\": \".jqr\",\n                    \"price\": \"$8.96\"\n                }\n            ]\n        }\n        ,\n        {\n            \"id\": \"7c436cb6-b440-4021-a539-e2a01d24322e\",\n            \"title\": \"Ghost Writer, The\",\n            \"createdBy\": \"b833fc18-90c2-41de-8511-fc91f273e3cf\",\n            \"createdOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"lastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"images\": [\n                \"http://dummyimage.com/187x558.png/cc0000/ffffff\",\n                \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"\n            ],\n            \"description\": \"Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.\\n\\nDonec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.\\n\\nDuis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.\",\n            \"privacy\": \"Public\",\n            \"tags\": [\n                {\n                    \"id\": \"ce460005-4e5b-4dfa-9fde-ed8ba1935b51\",\n                    \"tagName\": \"yfvtdle\"\n                },\n                {\n                    \"id\": \"8826a8c7-aad1-48e4-b041-aa91ac5b2acb\",\n                    \"tagName\": \"izvmaoo\"\n                },\n                {\n                    \"id\": \"e8f37be7-49d1-4d73-bbaf-85ca06745b7e\",\n                    \"tagName\": \"rcnhtyq\"\n                },\n                {\n                    \"id\": \"bc7e1400-1c8f-4f34-9d68-24d1a7f36ce3\",\n                    \"tagName\": \"qobnscp\"\n                },\n                {\n                    \"id\": \"34e04343-d8c8-4302-b98a-8e0e3f07d0a3\",\n                    \"tagName\": \"fleyrmy\"\n                },\n                {\n                    \"id\": \"add47029-fa6b-4eca-9f8c-d2ae5c145e68\",\n                    \"tagName\": \"dcdzgqn\"\n                },\n                {\n                    \"id\": \"9bf430c7-ffcb-4fb8-925d-a6c0aa221ce5\",\n                    \"tagName\": \"woltpff\"\n                },\n                {\n                    \"id\": \"9d4ee8d9-4d54-4ed4-ab87-8865d82f5bb4\",\n                    \"tagName\": \"gidfecv\"\n                },\n                {\n                    \"id\": \"9d6be8a6-4bb2-4847-be83-1c891d1f5356\",\n                    \"tagName\": \"kixbkwb\"\n                }\n            ],\n            \"category\": \"Bìa sách\",\n            \"likeNum\": 377,\n            \"viewNum\": 1679,\n            \"comments\": [\n                \"621e8685-8b1e-471c-b6a4-0dc7b2709263\",\n                \"72f4c235-f613-4d50-8f0a-ba98ed69e44f\",\n                \"462fabaa-3176-400b-ac7c-89bcdff2822f\",\n                \"56112651-5334-4957-8afd-290e50062247\",\n                \"d74b4970-f9f3-439d-9537-bc9a5979bc24\",\n                \"a3e4b461-9030-462e-8506-cbac0ef0550f\",\n                \"5798a36e-b744-4a4a-969e-88216eb39e40\",\n                \"436a0acc-fe90-40cd-a9b3-b70d68895335\"\n            ],\n            \"assets\": [\n                {\n                    \"id\": \"e34860a6-dfc6-4b1e-9cdf-eff6a6c62c62\",\n                    \"assetName\": \"TurpisDonecPosuere.ppt\",\n                    \"assetType\": \".xvv\",\n                    \"price\": \"$7.60\"\n                },\n                {\n                    \"id\": \"8203d78c-ad4a-498f-8da5-b88f28a5052d\",\n                    \"assetName\": \"Lorem.avi\",\n                    \"assetType\": \".bdl\",\n                    \"price\": \"$9.93\"\n                }\n            ]\n        }\n        ,\n        {\n            \"Id\": \"b151e4e0-fbcc-4a30-a0d3-cb94bac78dfd\",\n            \"Title\": \"The Winslow Boy\",\n            \"CreatedBy\": \"4b128518-20c5-4561-88cf-50f034214100\",\n            \"CreatedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"LastModifiedOn\": \"error: invalid date \\\"2023-10-31\\\"\",\n            \"Images\": [\n                \"http://dummyimage.com/210x789.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/350x869.png/5fa2dd/ffffff\",\n                \"http://dummyimage.com/118x610.png/cc0000/ffffff\",\n                \"http://dummyimage.com/564x979.png/dddddd/000000\"\n            ],\n            \"Description\": \"Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.\",\n            \"Privacy\": \"Public\",\n            \"Tags\": [\n                {\n                    \"Id\": \"767d412c-9c12-47ce-86d1-e5a772ee1c2b\",\n                    \"TagName\": \"bqmuvkr\"\n                },\n                {\n                    \"Id\": \"ce21b4fb-693b-4a8e-a4b4-a22aba2e421b\",\n                    \"TagName\": \"tmtgpuv\"\n                },\n                {\n                    \"Id\": \"9e691caf-a5af-4528-94ba-7d0fe3af95d2\",\n                    \"TagName\": \"ihyqrqx\"\n                },\n                {\n                    \"Id\": \"f4549a09-1887-4fe3-a764-52e46190c78a\",\n                    \"TagName\": \"xzzxiaz\"\n                },\n                {\n                    \"Id\": \"527696a6-cfd8-440f-a6c6-647296354175\",\n                    \"TagName\": \"dztlfik\"\n                },\n                {\n                    \"Id\": \"612584c2-3fa0-4627-bc44-4270a380860c\",\n                    \"TagName\": \"zpiogyb\"\n                }\n            ],\n            \"Category\": \"Tranh vẽ\",\n            \"LikeNum\": 481,\n            \"ViewNum\": 446,\n            \"Comments\": [\n                \"2c0bd230-a05c-4e7e-b8dc-aa0f8e1a6b9a\",\n                \"9ad60d0a-71b5-424b-b6f2-9322bebd9e53\",\n                \"dc49a415-3524-4803-a2c7-e0c9216875be\",\n                \"a3bef30e-ae71-45ea-8b82-93b5d82bc446\",\n                \"cf2946fd-7598-4252-8757-35e73a4728ec\",\n                \"74417fd6-cfb4-43a2-8c2c-aa9bde7e5ae6\",\n                \"4760567b-33c7-4229-ad83-648c0dd1c3bf\"\n            ],\n            \"Assets\": [\n                {\n                    \"Id\": \"9f864142-67cc-4b62-aa51-bf27e5077c1a\",\n                    \"AssetName\": \"VariusNulla.mpeg\",\n                    \"AssetType\": \".bxr\",\n                    \"Price\": \"$4.89\"\n                },\n                {\n                    \"Id\": \"77606a08-9e5d-40da-b8e1-09fc98b4fa6c\",\n                    \"AssetName\": \"RhoncusAliquamLacus.mov\",\n                    \"AssetType\": \".eho\",\n                    \"Price\": \"$8.57\"\n                },\n                {\n                    \"Id\": \"e1d7e9c7-054b-4225-ac13-791835c9d953\",\n                    \"AssetName\": \"VestibulumQuamSapien.ppt\",\n                    \"AssetType\": \".ihc\",\n                    \"Price\": \"$2.67\"\n                }\n            ]\n        }\n    ];\n\nmsg.payload = sampleData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "cba65ea00fbb977a"
            ]
        ]
    },
    {
        "id": "cba65ea00fbb977a",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1280,
        "y": 280,
        "wires": []
    },
    {
        "id": "924b49ebf702220c",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Following Artworks",
        "url": "/following",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 860,
        "y": 280,
        "wires": [
            [
                "3fee0cf3dcdd0a8d"
            ]
        ]
    },
    {
        "id": "87f6ab650187242e",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 380,
        "wires": []
    },
    {
        "id": "de2af7197e19d6c7",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Get assets",
        "url": "/assets",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "4595456273038625"
            ]
        ]
    },
    {
        "id": "4595456273038625",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 22",
        "func": "// GET TAGS DATA FROM DB\n\nlet sampleData = [\n    {\n\n        \"id\": \"asset_1\",\n        \"thumbnail\": \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\",\n        \"isCreator\": true,\n        \"itemsList\": [\n            {\n                \"id\": \"1\",\n                \"name\": \"Item 1\",\n                \"price\": 20,\n                \"extension\": \"jpg\",\n                \"size\": 1024,\n                \"thumbnail\": \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"\n            },\n            {\n                \"id\": \"2\",\n                \"name\": \"Item 2\",\n                \"price\": 25,\n                \"extension\": \"png\",\n                \"size\": 2048,\n                \"thumbnail\": \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"\n            }\n        ]\n\n    },\n    {\n\n        \"id\": \"asset_2\",\n        \"thumbnail\": \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\",\n        \"isCreator\": false,\n        \"itemsList\": [\n            {\n                \"id\": \"3\",\n                \"name\": \"Item 3\",\n                \"price\": 15,\n                \"extension\": \"jpeg\",\n                \"size\": 512,\n                \"thumbnail\": \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"\n            }\n        ]\n\n    },\n    {\n\n        \"id\": \"asset_3\",\n        \"thumbnail\": \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\",\n        \"isCreator\": true,\n        \"itemsList\": [\n            {\n                \"id\": \"4\",\n                \"name\": \"Item 4\",\n                \"price\": 30,\n                \"extension\": \"gif\",\n                \"size\": 768,\n                \"thumbnail\": \"http://dummyimage.com/701x900.png/5fa2dd/ffffff\"\n            }\n        ]\n\n    }\n]\n\nmsg.payload = sampleData\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 380,
        "wires": [
            [
                "87f6ab650187242e"
            ]
        ]
    },
    {
        "id": "2b4963435566793f",
        "type": "http in",
        "z": "adcc113084da2426",
        "name": "[GET] Account Detail",
        "url": "/account/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 870,
        "y": 100,
        "wires": [
            [
                "3571bc7e6a80ea17"
            ]
        ]
    },
    {
        "id": "a96ba7fa90674f18",
        "type": "http response",
        "z": "adcc113084da2426",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 100,
        "wires": []
    },
    {
        "id": "3571bc7e6a80ea17",
        "type": "function",
        "z": "adcc113084da2426",
        "name": "function 23",
        "func": "// Query from DB then return the data\nlet mockData = {\n  \"id\": \"f5f1c806-dbd6-4870-b708-f3c47cd01e09\",\n  \"username\": \"nabley0\",\n  \"fullname\": \"Nedda Abley\",\n  \"role\": \"Construction Manager\",\n  \"isCreator\": true,\n  \"bio\": \"vulputate justo in blandit ultrices enim lorem ipsum dolor sit amet consectetuer adipiscing elit proin interdum mauris non ligula pellentesque ultrices phasellus id sapien in sapien iaculis congue vivamus metus arcu adipiscing molestie hendrerit at vulputate vitae nisl aenean lectus pellentesque eget nunc donec quis orci eget orci vehicula condimentum curabitur in libero ut massa volutpat convallis morbi odio odio elementum eu interdum eu tincidunt in leo maecenas pulvinar lobortis est phasellus sit amet erat nulla tempus vivamus in felis eu sapien cursus vestibulum proin eu mi nulla ac enim in tempor turpis nec euismod scelerisque\",\n  \"avatar\": \"https://api.dicebear.com/7.x/open-peeps/svg?seed=Oreo&radius=50&backgroundColor=ffdfbf,b6e3f4,c0aede,d1d4f9,ffd5dc\",\n  \"profileView\": 1,\n  \"artworksView\": 1,\n  \"followerNum\": 1,\n  \"followingNum\": 1\n}\nmsg.payload = mockData\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 100,
        "wires": [
            [
                "a96ba7fa90674f18"
            ]
        ]
    }
]